/*// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';*/


@tailwind base;

@tailwind components;

@tailwind utilities;

.form-control {
  @apply rounded bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;
}

.error {
  @apply text-red-500 my-1;
}

.FormList input[type=text] {
  display: block;
  outline: none;
  width: 100%;
  padding: 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.top-1 {
  top: 0.25rem;
}

.right-1 {
  right: 0.25rem;
}

.bg-event-info {
  background-color: #f8983a;
}

.bg-event-partner {
  background-color: #418ea6;
}

.FileUploadCSS {
  width: 120px;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #4b8df7;
  color: #fff;

  &:hover {
    background-color: blue;
  }

  input[type=file] {
    width: 0px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 20px;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
}

