.mobile-menu {  position: fixed; display: flex; align-items: center; justify-content: flex-end; padding: 0px; top: 0; background-color: #fff; left: 0; right: 0; height: 65px; z-index: 99; border-bottom: 5px solid #b78d6b; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
.mobile-menu__btn { position: relative;  display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; padding-right: 15px; padding-left:15px; background-color: #202f55; cursor: pointer; transition: .4s; z-index: 99999999; }
.mobile-menu__icon { display: block;  position: relative; background: white; width: 40px; height: 2px; transition: .4s; }
.mobile-menu__icon::after, .mobile-menu__icon::before { content: ""; display: block; position: absolute; background: white; width: 100%; height: 2px; transition: .4s; }
.mobile-menu__icon::after { top: 8px; }
.mobile-menu__icon::before { top: -8px; }
.mobile-menu__checkbox { display: none; }
.mobile-menu__checkbox:checked ~ .mobile-menu__container { height: 100%; background-color: rgba(0, 0, 0, 0.3); transition-delay: 0s; }
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon { background: transparent; }
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after { top: 0; }
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before { transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.mobile-menu__container { position: fixed; top: 0px; left: 0; right: 0; z-index: 999; height: 0; opacity: 1; transition: .2s; transition-delay: 0s; overflow: hidden; }

@media(max-width:1023px)
{
  .mobile-menu__btn { width: 60px; }
}