@charset "UTF-8";
@import 'sanitize.css';
body { margin: 0; padding: 0; color: #123; background: #ffffff; font-family: 'Kanit', sans-serif; font-weight: 300; font-size:16px; letter-spacing: .5px; }
/*font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sarabun', sans-serif;*/

h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; font-weight: normal; letter-spacing: normal; }
ul,li,ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none; }
.clr:after{ content:""; display:block; height:0; clear:both; visibility:hidden; }
.FontJP{ font-family: 'M PLUS 1p', sans-serif; }
.FontEN{ font-family: 'Montserrat', sans-serif; }
.FontTH{ font-family: 'Kanit', sans-serif; }

/* HeaderRegister */
.HeaderRegister{ text-align: center; margin-top: 40px; font-family: 'M PLUS 1p', sans-serif; }
.HeaderRegister h1{ font-weight: 500; font-size: 19px; margin-bottom: 0px; }
.HeaderRegister p{ margin: 0px; font-size: 19px; font-weight: 500;}

/* RegisterBox */
.RegisterBox{ padding: 30px 40px; width: auto; height: auto; font-size: 15px; max-width: 700px; margin: auto; margin-top: 20px; background-color: #fff;  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);}
.RegisterBox input[type=text]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=text]::placeholder { color:#bec6ce; }
.RegisterBox input[type=email]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=email]::placeholder { color:#bec6ce; }
.RegisterBox input[type=password]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=password]::placeholder { color:#bec6ce; }
.RegisterBox button{ background-color: #981f3e; width: 100%; cursor: pointer; display:block; padding: 5px 10px; font-size: 19px; margin-top: 20px; text-align: center; border: 0px; border-radius: 5px; color: #fff; font-family: 'M PLUS 1p', sans-serif; }
.RegisterBox button:hover{ background-color: #a6806b;}
.RegisterBox input[type=submit]{ background-color: #981f3e; width: 100%; cursor: pointer; display:block; padding: 5px 10px; font-size: 19px; margin-top: 20px; text-align: center; border: 0px; border-radius: 5px; color: #fff; font-family: 'M PLUS 1p', sans-serif; }
.RegisterBox input[type=submit]:hover{ background-color: #a6806b;}
.RegisterBox .FontJP{ font-size: 14px; line-height: 22px;}
.RegisterBox a{ color: #4794d8; text-decoration: underline;}
.RegisterBox a:hover{ color: #a6806b; text-decoration: none;}
.RegisterBox .StrongTXT{ font-weight: 500;}
.SetPassword p{ margin: 0px; font-size: 14px; line-height: 21px;}
.RegisterBox .FontJP{ font-size: 13px;}
.RegisterBox .MemberLink{ text-align: center; margin-top: 20px;}

/* ValidateDisplay */
.ValidateDisplay{ display: block; margin-top: 20px;}
.Red{ color: #e60000;}
.DarkBlue19{ display: block; color: #213054; font-size: 19px!important; line-height: 30px!important; font-weight: 400; margin-bottom: 10px!important;}
.DarkBlue22{ display: block; color: #213054; font-size: 21px!important; line-height: 30px!important; margin-bottom: 10px!important;}
.AddressBox{ background-color: #f5f5f5; padding: 20px; margin-top: 10px; border-radius: 5px;}

/* ThanksRegis */
.ThanksRegis{ width: auto; height: auto; margin: auto; overflow: auto; padding: 10px 0px;}
.ThanksRegis .Left{ width: calc(100% - 650px); min-width: 120px; float: left; margin: 0px; padding-top: 30px; }
.ThanksRegis .Right{ width: calc(100% - 150px); float: right; margin: 0px; margin-top: 0px; margin-bottom: 5px; }
.ThanksRegis .Left img{ width: auto; max-width: 100%;}

/* FooterRegister */
.FooterRegister{ text-align: center; color: #363e46; font-size: 11px; margin-top: 20px; padding-bottom: 20px; }

/* Breadcrumb RegisterStep */
.RegisterStep { clear: both; height: auto; width: 100%; min-width: 320px; max-width: 700px; margin: auto; margin-top: 30px; padding-top: 30px; margin-bottom: -30px; overflow: auto; }
.RegisterStepBC { display: flex; border-radius: 0px; border:1px solid #a6806b; overflow: hidden; margin: auto; text-align: left; top: 50%;  width: 100%; height: 57px; transform: translateY(-50%); z-index: 1; background-color: #fff; font-size: 15px; font-family: 'M PLUS 1p', sans-serif; }
.RegisterStepBC a { position: relative; display: flex; flex-grow: 1; text-decoration: none; margin: auto; height: 100%; padding-left: 48px; padding-right: 0; color: #a6806b; }
.RegisterStepBC br{ display: none;}
.RegisterStepBC a:first-child { padding-left: 0px; }
.RegisterStepBC a:last-child { padding-right: 15.2px; }
.RegisterStepBC a:after { content: ""; position: absolute; display: inline-block; width: 57px; height: 57px; top: 0; right: -28.1481481481px; background-color: #fff; border-top-right-radius: 0px;  transform: scale(0.707) rotate(45deg); box-shadow: 1px -1px rgba(166, 128, 107, 1); z-index: 1; }
.RegisterStepBC a:last-child:after { content: none; }
.RegisterStepBC__inner { display: flex; flex-direction: column; margin: auto; z-index: 2; }
.RegisterStepBC__title { font-weight: normal; }
.RegisterStepBC__desc { font-weight: normal; }
.RegisterStepBC a.active{ background: #a6806b; color: white; }
.RegisterStepBC a.active:after { background: #a6806b; color: white; }


/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:767px)
{
    /* HeaderRegister */
    .HeaderRegister{ width: 90%; margin: auto; margin-top: 30px; }
    .HeaderRegister h1{ font-size: 17px; }
    .HeaderRegister p{ font-size: 17px; }

    /* RegisterBox */
    .RegisterBox{ padding: 20px 20px; width: 90%; max-width: auto; }

    /* RegisterStep */
    .RegisterStep{ width: 90%; max-width: auto; margin-top: 20px; }
    .RegisterStep ul li{ height: 40px;}
    .RegisterStep ul li span{ display: none; }
    .RegisterStep ul li .arrow { right: 10px; top: 5px; padding: 15px; }
    .RegisterStep ul li .arrow-right { right: 10px; border-top: 22px solid transparent; border-bottom: 18px solid transparent;  border-left: 18px solid #a6806b; }

    /* FooterRegister */
    .FooterRegister{ width: 90%; max-width: auto; margin: auto; margin-top: 20px; }

    /* Breadcrumb RegisterStep */
    .RegisterStep { width: 90%; margin-bottom: -25px;}
    .RegisterStepBC__title { display: none; }
    .RegisterStepBC { height: 40px; min-width: 60px; font-size: 12px; }
    .RegisterStepBC a { padding-left: 25.3333333333px; line-height: 16px; }
    .RegisterStepBC a:last-child { padding-right: 0px; }
    .RegisterStepBC br{ display: block;}
    .RegisterStepBC a:after { content: ""; width: 40px; height: 40px; right: -20px; transform: scale(0.707) rotate(45deg); }
}


/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:500px)
{
    /* RegisterBox */
    .RegisterBox button{ font-size: 17px;}

    /* RegisterStep */
    .RegisterStep ul li br{ display: block;}
    .RegisterStep ul li{ font-size: 13px; padding: 6px 5px 10px 5px; line-height: 14px; }
    .RegisterStep ul li:last-child{ padding-top: 13px;}

    /* ThanksRegis */
    .ThanksRegis .Left{ width: auto; float: none; margin: 0px; min-width: auto; padding-top: 10px; text-align: center; margin-bottom: 20px; }
    .ThanksRegis .Right{ width:auto; float: none; margin: 0px;  }
    .ThanksRegis .Left img{ width: auto; max-width: 100%; max-width: 90px; }
    .DarkBlue19{  font-size: 17px!important; line-height: 25px!important; font-weight: 500; }
    .DarkBlue22{ font-size: 20px!important; line-height: 25px!important; }
}



