/* -------------------------------------  1500px  ------------------------------------- */
@media(max-width:1500px)
{

}

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1366px)
{
    /* ToppageCompanyInfo */
    .ToppageCompanyInfo{ background-size: contain; }
}

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1200px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: auto; height: 60px; font-size: 22px; margin-left: 0px; }

    /* Header */
    .Header{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .HeaderBoxLeft{ width: 300px; }
    .HeaderBoxRight{ width: auto; }

    /* Breadcrumbs */
    .Breadcrumbs{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBox */
    .ContentBox{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBoxFull */
    .ContentBoxFull{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBoxLeft */
    .ContentBoxLeft h1{ font-size: 30px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 18px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 18px; }
    .NewsTitle{ font-size: 35px; margin-top: 0px; }

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ font-size: 35px; }

    /* SearchForm */
    .SearchFormBox{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .FormBoxLeft{ width: 55%; }
    .FormBoxRight{ width: 43%; }
    .FormBoxRight .KeywordS{ margin-top: 10px; }
    .FormBoxRight .KeywordS input[type=text]{ padding: 6px 6px 6px 40px; }
    .FormBoxRight .KeywordS:before{ width: 20px; height: 20px; top: 10px; left: 10px; }
    .FormBoxRight .SupportMenuListSearch{ margin-top: 10px; }
    .FormBoxRight .SupportMenuListSearch select{ padding: 10px 0px 10px 40px; }
    .FormBoxRight .SupportMenuListSearch:before{ width: 20px; height: 20px; top: 10px; left: 10px; }
    .FormBoxRight .BusinessTypeList .BType{ margin-bottom: 10px; }
    .FormBoxRight .BusinessTypeList ul li{ line-height: 22px; }
    .BTNSearchPage{ text-align: center; clear: both; margin-top: -35px; }
    .BTNSearchPage button{ font-size: 25px; max-width: 300px; margin-top: 10px; }
    .BTNSearchPage button img{ width: 20px; }

    /* Footer */
    .Footer{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .FooterBoxLeft{ width: 300px; }
    .FooterBoxRight{ width: 450px; }

    /* SeminarPage */
    .SeminarPageBox{ max-width: auto; margin-left: 40px; margin-right: 40px; height: 400px; }
    .SeminarPage h2{ font-size: 30px; }
    .SeminarPageBoxLeft{ float: left; width: 65%; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 400px; }
    .SeminarPageBoxRight{ float: left; width: 35%;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 25px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 30px; line-height: 38px; font-weight: 400; }
    /* SeminarPageList */
    .SeminarPageList ul{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageList ul li{ min-height: 350px;}
    .SeminarPageList .TitleToppage span{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageList .BorderAll{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* SeminarPageListSlide */
    /*.SeminarPageListSlide{ max-width: auto; margin-left: 40px; margin-right: 40px;}*/
    .SeminarPageListSlide ul{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageListSlide ul li{ min-height: 350px;}
    .SeminarPageListSlide .TitleToppage{ padding: 15px 0px 15px 0px;}
    .SeminarPageListSlide .TitleToppage span{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageListSlide .BorderAll{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageListSlide .MarTitleSeminar{ max-width: auto; margin-left: 40px; margin-right: 40px;}

    /* FeatureToppage */
    .FeatureToppageRightBox{ padding-top: 40px; margin-left: 20px; }
    .FeatureToppageRightBox h1{ font-size: 23px; }
    .FeatureToppageRightBox h1 span{ display: block; }

    /* AnchorToppage */
    .AnchorToppage{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .AnchorToppage ul li{ margin: 0px 5px; font-size: 17px;  }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: 150px; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 10px; }

    /* TopPageLink */
    .TopPageLink .TitleLink{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .TopPageLink .CategoryBoxTP{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .TopPageLink .CategoryBoxTP ul li{ min-height: 260px; font-size: 15px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{  padding: 20px 15px 15px 60px; }

    /* NewsTopPage */
    .NewsTopPage{ max-width: auto; margin-left: 40px; margin-right: 40px; margin-top: 50px; margin-bottom: 50px; }
    .NewsTopPageLeft .NewsTopPageLeftHead{ height: 65px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li{ width: 49%; height: 72px; background-size: cover; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li.Active a{ height: 72px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ display: block; padding: 15px 20px; font-size: 16px; font-weight: 500; }

    /* LogoTail */
    .TailLogoandLinkBox{ max-width: auto; margin-left: 40px; margin-right: 40px; justify-content: center; }
    .PrivacyTailBox{ padding-left: 10px;}

    .ToppageCompanyInfoBox h2{ font-size: 23px; }

    /* UpdateInfo */
    .UpdateInfo{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .UpdateInfoTitle{ max-width: auto; margin-left: 40px; margin-right: 40px;}

    /* SeminarPageListSlideAll */
    .SeminarPageListSlideAll{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .HeaderSeminarPage .SeminarBoxTXT{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .HeaderSeminarPageJP .SeminarBoxTXT{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .HeaderSeminarPageJP .SeminarBoxTXT p{ padding-left: 40px;}

    .LeftWidth{ width: 100%!important; max-width: 250px!important; margin: 0!important; }
    .RightWidth{ width: 100%!important; max-width: 694px!important; margin: 0!important; }

    /* SeminarPageListSlideForBuyer */
    .SeminarPageListSlideForBuyer{ width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageListSlideForBuyer .TitleToppage{ padding: 15px 0px 15px 0px;}
    .SeminarPageListSlideForBuyer .TitleToppage span{ max-width: auto; margin-left: 40px; margin-right: 40px; }
}

/* -------------------------------------  1023px  ------------------------------------- */
@media(max-width:1023px)
{
    #BackToTop{ height: 65px; }
    /* HeaderLogo */
    .HeaderLogo{ width: 87%; margin: auto; }

    /* Header */
    .Header{ width: 90%; margin: 0 auto; }
    .HeaderBoxRight{ width: auto; }

    /* Breadcrumbs */
    .Breadcrumbs{ width: 90%; margin: 0 auto; }

    /* ContentBox */
    .ContentBox{ width: 90%; margin: 0 auto; margin-top: 20px;}

    /* ContentBoxFull */
    .ContentBoxFull{ width: 90%; margin: 0 auto; margin-top: 20px;}

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ margin: auto; font-size: 35px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ margin-top: 10px; }
    .NewsTitle{ font-size: 30px; margin-top:0px; padding-top: 0px; line-height: 38px; margin-top: -20px; }

    /* SupportMenuMobile */
    .SupportMenuMobile{ display: block; }

    /* SupportMenuMobilePartner */
    .SupportMenuMobilePartner{ display: block; }

    /* SupportMenuPC */
    .SupportMenuPC{ display: none; }

    /* ContentBoxLeft */
    .ContentBoxLeft{ width: auto; float: none; border-right: 0px solid #eee; margin-top: 30px; }
    .ContentBoxLeft .OthersLinkList{ padding-bottom: 0px; margin-bottom: 0px; }

    /* ContentBoxRight */
    .ContentBoxRight{ width: auto; height: auto; float: none; max-width: 100%; margin-top: 0px; clear: both; overflow: auto; }
    .ContentBoxRight .NewsBannerRight{ margin: auto; max-width: 300px; margin-top: 30px; }

    /* Footer */
    .Footer{ width: 90%; margin: 0 auto; padding-bottom: 60px; }
    .FooterBoxRight{ width: auto; margin-top: 0px; }

    /* CompanyList */
    .CompanyList ul li .PictureDisplay{ height: 150px; }
    .CompanyList ul li .RightCaptions .Title{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .CompanyName{ font-size: 18px; }
    .CompanyList ul li .RightCaptions .ProvinceDisplay{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .ProvinceDisplay:before{ top: 0px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay:before{ top: 0; }

    /* SearchForm */
    .SearchForm{ margin-top: 0;}
    .SearchFormBox{ width: 90%; margin: 0 auto; }
    .FormBoxLeft{ width: auto; float: none; margin-bottom: 20px; }
    .FormBoxRight{ width: auto; float: none; }
    .FormBoxRight .KeywordS{ margin-top: 20px; }
    .FormBoxRight .SupportMenuListSearch{ margin-top: 20px; }

    /* NewsBox */
    .NewsBoxBGBlur{ margin-top: 0px; }
    .NewsBoxBGBlur ul{ width: 90%; margin: auto; margin-top: 0px; }
    .NewsBox{ width: 90%; margin: auto; margin-top: 20px; }
    .NewsBoxBGBlur ul li{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li a{ padding: 13px 20px 10px 25px; }

    /* SeminarPage */
    .SeminarPageBox{ width: 90%; margin: 0 auto; margin-top: 20px; margin-bottom: 40px; height: 350px;  }
    .SeminarPage h2{ font-size: 25px; }
    .SeminarPageBoxLeft{ float: left; width: 60%; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 350px; }
    .SeminarPageBoxRight{ float: left; width: 40%;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 20px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 25px; line-height: 35px; font-weight: 400; }
    .SeminarPageBoxRight .DisplayDate{ font-size: 14px; }
    /* SeminarPageList */
    .SeminarPageList{ padding: 40px 0px; }
    .SeminarPageList ul{ width: 90%; margin: 0 auto; margin-top: 20px; }
    .SeminarPageList ul li{ width: 48%; min-height: 400px; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 15px; min-height: 65px; }
    .SeminarPageList .BorderAll{ width: 90%; margin: 0 auto; margin-bottom: 30px; }

    /* SeminarPageListSlide */
    /*.SeminarPageListSlide{ width: 90%; margin: 0 auto; padding: 40px 0px; }*/
    .SeminarPageListSlide ul{ width: 90%; margin: 0 auto; margin-top: 20px; }
    .SeminarPageListSlide ul li{ margin: 0 10px; }
    .SeminarPageListSlide ul li .RightCaptions .Title{ font-size: 15px; min-height: 65px; }
    .SeminarPageListSlide .BorderAll{ width: 90%; margin: 0 auto; margin-bottom: 30px; }
    .SeminarPageListSlide .MarTitleSeminar{ width: 90%; margin: 0 auto; }

    /* FeatureToppage */
    .FeatureToppage{ min-height: 350px; }
    .FeatureToppageLeft{ height: 350px; }
    .FeatureToppageRightBox{ margin-top: 20%; padding-top: 0px; margin-left: 20px; background-size: 100%; }
    .FeatureToppageRightBox h1{ font-size: 20px; }
    .FeatureToppageRightBox h1 span{ display: inline-block; }

    /* ToppageCompanyInfo */
    .ToppageCompanyInfo{ margin-top: 0px; }
    .ToppageCompanyInfoBox{ width: 90%; max-width: auto; margin: auto; }
    .ToppageCompanyInfo{ background-size: contain; background-position: center center; }

    /* TopPageLink */
    .TopPageLink .TitleLink{ width: 90%; margin: auto; margin-bottom: 20px; }
    .TopPageLink .TitleLink h2{ font-size:30px; }
    .TopPageLink .TitleLink span{ font-size: 30px;}
    .TopPageLink .CategoryBoxTP h3{ margin-bottom: 0px; }
    .TopPageLink .CategoryBoxTP{ width: 90%; margin: auto; margin-bottom: 40px; }
    .TopPageLink .CategoryBoxTP ul li{ min-height: auto; width: 32%; font-size: 15px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 100px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:2%; margin-left: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ margin-left: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left: 0px; }

    /* NewsTopPage */
    .NewsTopPage{ width: 90%; margin: auto; margin-top: 50px; margin-bottom: 50px; }
    .NewsTopPageLeft{ float: none; width: auto; }
    .NewsTopPageRight{ float: none; width: auto; margin: auto; margin-top: 50px; }

    /* LogoTail */
    .TailLogoandLinkBox{ width: 90%; margin: 0 auto; text-align: center; padding: 20px 0px; justify-content: center; }
    .LogoTail{ float: none; text-align: center; }
    .JNTOWebsite{ margin-left: 20px; }

    /* CookiePopup */
    .PopupCondition{ width: 90%; padding: 40px; }
    .PopupCondition h3{ font-size: 33px; }

    .Copyright{ padding-bottom: 0px; margin-bottom: 0px; }

    .PrivacyTailBox{ display: block; padding-left: 0px; float: none; clear: both; margin: 20px 0;}

    /* UpdateInfo */
    .UpdateInfo{ width: 90%; margin: auto; padding: 20px 20px 40px 20px; margin-top: 10px; margin-bottom: 40px; }
    .UpdateInfo .LinkViewAll{ right: 20px;}
    .UpdateInfoTitle{ width: 90%; margin: auto; margin-top: 40px; }

    .BTNSupportMenuPCPartner span:after{ display: none;}

    /* SeminarPageListSlideAll */
    .SeminarPageListSlideAll{ width: 90%; margin: auto; }
    .HeaderSeminarPage .SeminarBoxTXT{ width: 90%; margin: auto;}
    .HeaderSeminarPageJP .SeminarBoxTXT{ width: 90%; margin: auto;}
    .HeaderSeminarPageJP{ margin-top: -5px; }

    .LeftWidth{ width: auto!important; max-width: auto!important; margin: 0!important; min-height: auto!important; }
    .RightWidth{ width: auto!important; max-width: auto!important; margin: 0!important; min-height: auto!important; }

    /* SeminarPageListSlideForBuyer */
    .SeminarPageListSlideForBuyer{ width: 90%; margin: auto; }
    .SeminarPageListSlideForBuyerBGWhite{ width: 90%; margin: auto; }

    .FooterTextBox{ padding-bottom: 0;}
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:768px)
{
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 350px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 70px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-list{ padding: 0px!important; }

    /* LatestSeminarBig */
    .LatestSeminarBig{ margin: 40px 0x 20px 0;}
    .LatestSeminarBig .RightWidthBox{ min-height: 240px!important;}
    .LatestSeminarBig .RightWidthBox .PictureDisplay{ width: 60%; height: 240px!important; }
    .LatestSeminarBig .RightWidthBox .RightCaptions{ width: 40%;}

    .ULTail div.ULTailList{ width: 50%; }

    /*.LeftWidth{ width: auto!important; max-width: 100%!important; margin: 0!important; height: auto!important; min-height: auto!important;}
    .RightWidth{ width: auto!important; max-width: 100%!important; margin: 0!important; height: auto!important; min-height: auto!important;}
    .RightWidth .RightWidthBox{ width: auto!important; display: block!important; margin: 0important;}
    .RightWidth .RightWidthBox .PictureDisplay{ width: auto; height: 160px; overflow: hidden; margin: auto; position: relative; }
    .RightWidth .RightWidthBox .PictureDisplay .inner{ background-size: cover; display: block; height: 100%; -webkit-transform: scale(1, 1);  transform: scale(1, 1); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; background-color:rgba(0, 0, 0, 0.5); }
    .RightWidth .RightWidthBox .PictureDisplay .inner .BGS{ display: block; width: 100%; height: 100%; position: absolute; z-index: 99; background-color: #ccc; background-color:rgba(0, 0, 0, 0.2); }
    .RightWidth .RightWidthBox .PictureDisplay:hover .inner{ -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); }
    .RightWidth .RightWidthBox .PictureDisplay span{ transition: .3s ease; position: absolute; content: ''; top: 30%; left: 45%; color: #fff; width: 54px; height: 62px; z-index: 9; background: url('../images/icon/icon-play.svg')no-repeat; background-size: contain; }
    .RightWidth .RightWidthBox .PictureDisplay:hover span{ top: 38%; transition: .3s ease; }
    .RightWidth .RightWidthBox .RightCaptions{ width: auto; text-align: left; margin: 0px; padding: 15px; position: relative;}
    .RightWidth .RightWidthBox .RightCaptions span{ position: absolute; content: ''; top: -40px; left: 0; color: #fff; width: 103px; height: 52px; line-height: 50px; text-align: center; font-size: 19px; z-index: 9; background: url('../images/icon/icon-bg-number.svg')no-repeat; background-size: contain; }
    .RightWidth .RightWidthBox .RightCaptions p{ margin:0px; }
    .RightWidth .RightWidthBox .RightCaptions .Title{ text-align: left; font-size: 16px; min-height: 70px; font-weight: 300; line-height: 23px; position: relative; margin-bottom: 10px; }
    .RightWidth .RightWidthBox .RightCaptions .CompanyName{ font-size: 20px; line-height: 20px; padding-bottom: 5px; font-weight: 500; }
    .RightWidth .RightWidthBox .RightCaptions .TimeDisplay{ position: relative; margin: 0px; margin-bottom: 10px; padding: 0px 0px 5px 25px; font-weight: 300; white-space: nowrap; overflow: hidden; width: 50%; float: left;}
    .RightWidth .RightWidthBox .RightCaptions .TimeDisplay:before{ content: ''; position: absolute; width: 20px; height: 20px; top: 3px; left: 0; background: url('../images/icon/icon-time.svg')no-repeat; background-size: contain; }
    .RightWidth .RightWidthBox .RightCaptions .DocumentDisplay{ position: relative; margin: 0px; margin-bottom: 10px; padding:0px 0px 5px 25px; font-weight: 300; width: 50%; float: right; text-align: right; }
    .RightWidth .RightWidthBox .RightCaptions .DocumentDisplay:before{ content: ''; position: absolute; width: 20px; height: 20px; top: 3px; margin-left: -25px; background: url('../images/icon/icon-download-pdf-company-profile.svg')no-repeat; background-size: contain; }
    .RightWidth .RightWidthBox .RightCaptions .DetailLink{ display: block; position: relative; max-width: 200px; margin: auto; padding: 8px 0px; font-size: 18px; background-color: #970000; color: #fff; text-align: center; clear: both; margin-top: 10px; border-radius: 100px; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); border: 2px solid #fff; }
    .RightWidth .RightWidthBox .RightCaptions .DetailLink:hover{ background-color: #202f55; }*/



}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:767px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: 85%; margin: auto; font-size: 17px; }
    .HeaderLogo img{ margin-right: 10px; }

    /* Header */
    .HeaderBoxLeft{ width: auto; }

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ font-size: 30px; }

    /* ContentBoxLeft */
    .ContentBoxLeft .SupportMenuList .DownloadPDF{ line-height: 18px; }
    .ContentBoxLeft .SupportMenuList .DownloadPDF span{ padding: 8px 10px 8px 37px; margin-bottom: 5px; }
    .ContentBoxLeft .SupportMenuList .DownloadPDF br{display: block;}
    .ContentBoxLeft .CompanyProfileList .DownloadPDF{ line-height: 18px; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF span{ padding: 4px 10px 4px 30px; margin-bottom: 5px; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF br{ display: block; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF span:before{ left: 8px; top: 8px; }
    .ContentBoxLeft .YoutubeResponsive { padding-bottom:40%; height: 400px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 17px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 17px; }
    .NewsBox .RelatedNewsJNTO{ font-size: 25px; }
    .NewsTitle{ font-size: 25px; line-height: 34px; }

    /* PhotoSlide */
    .SellerInfoPage .SlidePhotoLarge{ height: 300px; }
    .SellerInfoPage .SlidePhotoLarge div{ height: 300px; }
    .SellerInfoPage .SlidePhotoThumb{ height: 80px; }
    .SellerInfoPage .SlidePhotoThumb div{ height: 80px; margin-right: 5px; margin-left: 5px; }
    /*div.slick-list.draggable{ padding: 0px!important; }*/

    /* Footer */
    .FooterBoxLeft{ width: auto; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo{ padding-left: 10px; padding-right: 10px; }

    /* CompanyList */
    .CompanyList ul li{ width: 48%; min-height: 360px; margin: 0; }
    .CompanyList ul li:nth-child(3n-7){ margin: 0; }
    .CompanyList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }
    .CompanyList ul li:nth-child(3n-2){ clear: none;}
    .CompanyList ul li:nth-child(2n-1){ clear: both;}

    /* SearchForm */
    .SearchFormBox{ margin-top:10px; padding-top: 0px; }
    .SearchFormBox h2{ font-size: 30px; }
    .SearchFormBox .Caption{ font-size: 18px; }

    /* NewsBox */
    .NewsBoxBGBlur ul{ width: 98%; }
    .NewsBoxBGBlur ul li{ width: 49%; height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li:first-child{ margin-right: 2%; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li a{ font-size: 13px; padding: 9px 10px 4px 10px; }
    .NewsBoxBGBlur ul li a span{ font-size: 12px; }
    .NewsBox ul li{ font-size: 15px; }

    /* SeminarPage */
    .SeminarPageBox{ height: auto; margin-top: 10px; }
    .SeminarPage{ padding-top: 10px; }
    .SeminarPage h2{ font-size: 25px; margin-bottom: 0px; }
    .SeminarPageBoxLeft{ float: none; width: auto; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 300px; }
    .SeminarPageBoxRight{ float: none; width: auto;  }
    .SeminarPageBoxRight .DisplayTime{ margin-top: 10px; position: relative; bottom: 0px; }
    /* SeminarPageList */
    .SeminarPageList{ padding: 30px 0px; }
    .SeminarPageList ul li{ width: 48%; min-height: 400px; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 15px; line-height: 21px; min-height: 65px; }
    .SeminarPageList ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList .ComingSoon{ min-height: 468px; }

    /* SeminarPageListSlide */
    .SeminarPageListSlide{ padding: 30px 0px; }
    .SeminarPageListSlide ul li{ /*width: 48%; min-height: 400px; margin: 0;*/ margin-bottom: 30px; }
    /*.SeminarPageListSlide ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageListSlide ul li:nth-child(odd){ margin: 0; margin-right: 4%; }*/
    .SeminarPageListSlide ul li .RightCaptions .Title{ font-size: 15px; line-height: 21px; min-height: 65px; }
    .SeminarPageListSlide ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageListSlide ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageListSlide .ComingSoon{ min-height: 350px; }

    /* FeatureToppage */
    .FeatureToppage{ min-height: 300px; }
    .FeatureToppageLeft{ width: auto; height: 300px; float: none; }
    .FeatureToppageRight{ width: auto; float: none; }
    .FeatureToppageRightBox{ margin-top: 30px; padding-top: 0px; margin-left: 0px; padding: 0px 30px; background-size: contain; }
    .FeatureToppageRightBox h1{ font-size: 23px; }
    .FeatureToppageRightBox h1 span{ display: inline; }

    /* AnchorToppage */
    .AnchorToppage{ max-width: auto; margin-left: 10px; margin-right: 10px; }
    .AnchorToppage ul { overflow: auto; float: none; text-align: center; }
    .AnchorToppage ul li{ font-size: 15px; width: 22%; margin: 0% 1%; background-color: #ccc; }
    .AnchorToppage ul li:first-child(){ margin-left: 0; padding-left: 0; }
    .AnchorToppage ul li:last-child(){ margin-right: 0; padding-right: 0; }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: auto; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 10px; }

    /* ToppageCompanyInfoBox */
    .ToppageCompanyInfoBox{ width: auto; margin: auto; padding: 0px 0px; }
    .ToppageCompanyInfoBox h2{  font-size: 21px;}

    /* TopPageLink */
    .TopPageLink .CategoryBoxTP ul li{ min-height: auto; width: 49%; font-size: 16px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 100px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(1){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(2){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:0; margin-left: 2%; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ clear: both; margin-left:0px; margin-right: 2%; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right:0px; margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(8){ margin-right:0px; }

    /* NewsTopPage */
    .NewsTopPage{ max-width: auto; margin-top: 40px; margin-bottom: 50px; }
    .NewsTopPageLeft .NewsTopPageLeftHead{ height: 60px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li{ width: 49%; height: 60px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:first-child{ margin-left: 0px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:last-child{ background-image: none; background-color: #fff;  }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li.Active a{ background-image: none; background-color: #ebe4e0; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ display: block;  padding: 13px 10px; font-size: 13px; font-weight: 500;background-image: none; background-color: #fff; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a span{ font-size: 13px;}

    /*.ULTail .ULTail1{ width: 45%; float: left; margin-top: 10px; }
    .ULTail .ULTail2{ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }
    .ULTail .ULTail3{ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }*/

    .ULTail div.ULTailList{ /*width: 45%; float: left;*/ margin-top: 10px; }
    .ULTail div.ULTailList:nth-child(2){}
    .ULTail div.ULTailList:nth-child(3){ /*width: 45%; float: left; margin-top: 10px; margin-left: 10%;*/ }
    .ULTail div.ULTailList:nth-child(4){ /*width: 45%; float: left; margin-top: 10px; margin-left: 10%;*/ }
    .ULTail div.ULTailList:nth-child(5){}
    .ULTail div.ULTailList:nth-child(6){ /*width: 45%; float: left; margin-top: 10px; margin-left: 10%;*/ }
    .ULTail div.ULTailList:nth-child(7){ /*width: 45%; float: left; margin-top: 10px; margin-left: 10%;*/ }

    /* LogoTail */
    .TailLogoandLink{ font-size: 15px; }
    .LogoTail img{ width: 90px; }

    /* CookiePopup */
    .PopupCondition { padding: 30px;}
    .PopupCondition h3{ font-size: 25px; font-weight: 400; }
    .PopupCondition p{ font-size: 15px; font-weight: 200; }
    .PopupCondition .MobileScroll{ height: 400px; overflow: scroll;}

    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 300px; }

    /* UpdateInfo */
    .UpdateInfo ul{ max-height:195px;}
    .UpdateInfo ul li { display: block;}
    .UpdateInfo ul li p{ display: inline-block;}
    .UpdateInfo ul li .UpdateBox span{ width: 120px;}
    .UpdateInfo ul li .NewBox span{ width: 120px;}
    .UpdateInfo ul li .Title{ display: block; clear: both;}

    /* HeaderSeminarPage */
    .HeaderSeminarPage{ font-size: 20px; padding-top: 20px; }
    .HeaderSeminarPage .SeminarBoxTXT:after{ width: 80px; height: 80px; margin-left: 260px; top: 65px; }
    .HeaderSeminarPageJP{ font-size: 20px; padding-top: 20px; }
    
    /* LatestSeminarBig */
    .LatestSeminarBig .RightWidthBox{ min-height: 240px!important; display: block;}
    .LatestSeminarBig .RightWidthBox .PictureDisplay{ width: 100%; height: 290px!important; }
    .LatestSeminarBig .RightWidthBox .RightCaptions{ width: auto;}

}

/* -------------------------------------  500px  ------------------------------------- */
@media(max-width:480px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: auto; margin: auto; margin-left: 15px; font-size: 13px; }
    .HeaderLogo img{ height: 35px; margin-right: 5px; }
    .HeaderLogo span{ display: none; }

    /* Header */
    .HeaderBox h2{ font-size: 17px; margin-bottom: 20px; }
    .HeaderBox{ font-size: 16px; /*padding: 20px 0px 20px 0px;*/ height: 600px; overflow: scroll; }
    .HeaderBoxRight .SeminarLinkTxtRight{ font-size: 14px; }
    .HeaderBoxRight .SeminarLinkTxtRight a{ margin-right: 8px; }

    /* Breadcrumbs */
    .Breadcrumbs{ display: none; }

    /* ContentBoxFull */
    .ContentBoxFull{ width:auto; margin: 0 auto; margin-top: 10px;}

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ width: 90%; margin: auto; font-size: 20px; padding: 0px; }

    /* ContentBoxLeft */
    .ContentBoxLeft h1{ font-size:19px; line-height: 23px; padding-bottom: 5px; }
    .ContentBoxLeft .SupportMenuList{ padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .YoutubeResponsive { padding-bottom:20%; height: 250px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 16px; padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .SupportMenuList ul li .Captions{ font-size: 15px; }
    .ContentBoxLeft .CompanyProfileList{ padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .OthersLinkList ul li{ padding: 10px 30px 10px 50px; }
    .ContentBoxLeft .OthersLinkList ul li .Captions{ font-size: 15px; }
    .ContentBoxLeft .OthersLinkList ul li .LinkURL{ font-size: 16px; font-weight: 400; }
    .ContentBoxLeft .OthersLinkList ul li .LinkOut{ top: 20px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 16px; padding-bottom: 10px; margin-bottom: 10px; }
    .NewsTitle{ width: 90%; margin: auto; font-size: 20px; line-height: 25px; padding: 10px 0px; }
    .NewsBox .RelatedNewsJNTO{ font-size: 22px; }
    .NewsBox .LinktoAll a{ font-size: 16px; }
    .NewsBox .LinktoAll a:before{ width: 32px; height: 32px; top: 0px; }

    /* ContentBoxRight */
    .ContentBoxRight .CompanyInfoList .SocialNetwork a{ margin: 0px 7px; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo{ padding: 0px; }
    .RelatedCompanyInfo ul li{ margin-left: -20px; margin-right: 10px; padding-left: 0px; padding-right: 20px;}
    .RelatedCompanyInfo ul li .PictureDisplayRe{ height: 106px; /*height: 170px;*/ }
    .RelatedCompanyInfo ul li .PictureDisplayRe span{ padding: 3px 10px 3px 10px; }
    .RelatedCompanyInfo ul li .RightCaptions{ padding:10px 0px 10px 20px; }
    .RelatedCompanyInfo ul li .RightCaptions .Title{ font-size: 13px; line-height: 19px; }
    .RelatedCompanyInfo ul li .RightCaptions .CompanyName{ font-size: 18px; }
    .RelatedCompanyInfo ul li .RightCaptions .ProvinceDisplay{ font-size: 14px; }
    .RelatedCompanyInfo ul li .RightCaptions .ProvinceDisplay:before{ top: 0px; }

    /* PhotoSlide */
    .SellerInfoPage .SlidePhotoLarge{ height: 200px; margin-top: 10px; }
    .SellerInfoPage .SlidePhotoLarge div{ height: 200px; }
    .SellerInfoPage .SlidePhotoThumb{ height: 50px; margin-top: 10px; }
    .SellerInfoPage .SlidePhotoThumb div{ height: 50px; }
    /*div.slick-track{ margin: 0px!important; }*/

    /* Footer */
    .Footer{ padding-bottom: 30px; }
    .FooterBox h2{ font-size: 18px; margin-bottom: 10px; }
    .FooterBox{ font-size: 16px; }
    .FooterBoxRight .SeminarLinkTxtRight{ font-size: 14px; }
    .FooterBoxRight .SeminarLinkTxtRight a{ margin-right: 8px; }
    .BackToTop { width: 50px; height: 50px; line-height: 40px; top: -30px; }
    .FooterLogoTail{ width: 150px; height: auto; }
    .FooterBoxListAll{ display: block!important; overflow: hidden; padding-bottom: 20px; }
    .FooterBoxListAll div{ display: block!important; width: 100%; min-height: auto; padding-left: 0!important; border-left: 0px dotted #fff!important;}

    /* CompanyList */
    .CompanyList ul li{ width: auto; height: auto; min-height: auto; margin: 0 0 40px 0; float: none; clear: both; /*overflow: auto;*/ }
    .CompanyList ul li:nth-child(3n-7){  margin: 0 0 40px 0; }
    .CompanyList ul li:nth-child(odd){  margin: 0 0 40px 0; }
    .CompanyList ul li .PictureDisplay{ height: 106px; box-shadow: 1px 0px 5px rgba(0,0,0,0.2); /*height: 190px;*/ }
    .CompanyList ul li .RightCaptions .CompanyName{ font-size: 20px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay{ font-size: 16px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay:before{ top: 5px; }

    /* SearchForm */
    .SearchFormBox{ margin-top: 0px; padding-top: 30px; }
    .FormBox{ padding: 15px 15px 60px 15px; margin-top: 10px; }
    .SearchFormBox h2{ font-size: 25px; }
    .SearchFormBox .Caption{ font-size: 18px; margin-top: -10px; }
    .FormBoxLeft .MapSearchTxt{ font-size: 14px; letter-spacing: -1px; top: 5px; left: 5px; padding-left: 20px; }
    .FormBoxLeft .MapSearchTxt:before{ width: 16px; height: 20px; top: 0px; }
    .FormBoxRight .BusinessTypeList .BType{ letter-spacing: -1px; }
    .FormBoxRight .BusinessTypeList ul li{ width: auto; float: none; margin: 0px;}
    .BTNSearchPage{ margin-top: -40px; }
    .BTNSearchPage button{ max-width: 250px; }
    .BTNSearchPage span{ display: block; padding: 5px 10px; }
    .BacktoRegion{ right: 5px; top: 5px; }
    .BacktoRegion a{ padding: 3px 10px; font-weight: 500; font-size: 11px; }
    .PaddingMap{ padding: 5px; }

    /* NewsBox */
    .NewsBoxBGBlur{ padding-top: 1px;}
    .NewsBoxBGBlur ul{ width: 95%; margin-top: 20px; }
    .NewsBoxBGBlur ul li{ width: 36%; height: auto; background-image: none; box-shadow: 0px 2px 5px rgba(0,0,0,0.3); }
    .NewsBoxBGBlur ul li:first-child{ margin-right: 4%; }
    .NewsBoxBGBlur ul li:last-child{ width: 60%; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-image: none; background-color: #ebe4e0; }
    .NewsBoxBGBlur ul li a{ font-size: 13px; padding: 10px 10px 10px 10px; }
    .NewsBoxBGBlur ul li a span{ font-size: 12px; }
    .NewsBox ul li{ font-size: 15px; padding-left: 0px; line-height: 18px; }
    .NewsBox ul li span{ display: block; top: 0; margin: 0px; width: auto; position: relative; font-weight: 200; margin-bottom: 5px; }
    .NewsBoxDetail .CompanyProfileList{ padding-top: 30px; margin-top: 30px; }

    /* SeminarPage */
    .SeminarPage{ background-size: 200% auto; }
    .SeminarPageBoxLeft{ float: none; width: auto; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 280px; }
    .SeminarPageBoxRight{ float: none; width: auto;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 20px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 23px; line-height: 30px; font-weight: 400; }
    .SeminarPageBoxRight .DisplayDate{ font-size: 14px; }
    .SeminarPageBoxRight .DisplayTime{ font-size: 14px; }
    .SeminarPageBoxRight .DisplayDate{ padding: 1px 5px; }
    .SeminarPageBoxRight .DisplayTime:before{ width: 24px; height: 24px; }
    /* SeminarPageList */
    .SeminarPageList .TitleTail{ font-size: 16px; }
    .SeminarPageList .CaptionTail{ font-size: 16px; }
    .SeminarPageList .CaptionTail:before{ top: 6px; }
    .SeminarPageList .CaptionTail:after{ top: 10px; }
    .SeminarPageList ul li{ width: 100%; min-height: auto; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 0%; margin-bottom: 30px; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 16px; line-height: 21px; min-height: auto; }
    .SeminarPageList ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList .TitleToppage{ padding: 30px 0px 10px 0px; background-size: cover; background-position: right center; font-size: 20px; }
    .SeminarPageList .TitleToppage span{ width: 90%; margin: auto; }
    .SeminarPageList .TitleToppage img{ width: 100px; margin-left: 15px; }
    .SeminarPageList .TitleToppageSeller{ padding: 30px 0px 10px 0px!important; background-size: cover!important; background-position: right center!important; font-size: 20px!important; }
    .SeminarPageList .ComingSoon{ width: 100%; min-height: 468px; }
    .SeminarPageList .BorderAll:after{ width: 90px; height: 90px; top: -10px; margin-left: 90px;}


    /* SeminarPageListSlide */
    .SeminarPageListSlide .TitleTail{ font-size: 16px; }
    .SeminarPageListSlide .CaptionTail{ font-size: 16px; }
    .SeminarPageListSlide .CaptionTail:before{ top: 6px; }
    .SeminarPageListSlide .CaptionTail:after{ top: 10px; }
    .SeminarPageListSlide ul li{ width: 100%; min-height: auto; margin: 0; margin-bottom: 30px; }
    /*.SeminarPageListSlide ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageListSlide ul li:nth-child(odd){ margin: 0; margin-right: 0%; margin-bottom: 30px; }*/
    .SeminarPageListSlide ul li .RightCaptions .Title{ font-size: 16px; line-height: 21px; min-height: auto; }
    .SeminarPageListSlide ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageListSlide ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageListSlide .TitleToppage{ padding: 10px 0px 10px 0px; background-size: cover; background-position: right center; font-size: 20px; }
    .SeminarPageListSlide .TitleToppage span{ width: 90%; margin: auto; }
    .SeminarPageListSlide .TitleToppage img{ width: 100px; margin-left: 15px; }
    .SeminarPageListSlide .TitleToppageSeller{ padding: 10px 0px 10px 0px!important; background-size: cover!important; background-position: right center!important; font-size: 20px!important; }
    .SeminarPageListSlide .ComingSoon{ width: 100%; min-height: 330px; }
    .SeminarPageListSlide .BorderAll:after{ width: 90px; height: 90px; top: -10px; margin-left: 90px;}


    /* FeatureToppage */
    .FeatureToppage{ min-height: 200px; }
    .FeatureToppageLeft{ height: 200px; }
    .FeatureToppageRight{ width: auto; float: none; }
    .FeatureToppageRightBox{ margin-top: 20px; padding: 0px 30px; min-height: 130px; }
    .FeatureToppageRightBox h1{ font-size: 20px; }

    /* AnchorToppage */
    .AnchorToppage{ width: 90%; margin: auto; padding: 0px; }
    .AnchorToppage ul { overflow: auto; float: none; text-align: center; }
    .AnchorToppage ul li{ font-size: 18px; width: 45%; margin: 2% 2%; }
    .AnchorToppage ul li:first-child(){ margin-left: 0; padding-left: 0; }
    .AnchorToppage ul li:last-child(){ margin-right: 0; padding-right: 0; }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: auto; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 15px; }

    /* ToppageCompanyInfoBox */
    .ToppageCompanyInfoBox{ width: 90%; }
    .ToppageCompanyInfoBox h2{ padding: 0px; font-size: 21px;}
    .ToppageCompanyInfoBox ul{ margin-top:10px; }

    /* TopPageLink */
    .TopPageLink .TitleLink h2{ font-size:23px; }
    .TopPageLink .TitleLink span{ font-size: 23px;}
    .TopPageLink .CategoryBoxTP h3{ font-size:20px; margin-bottom: 10px; padding-left: 30px; }
    .TopPageLink .CategoryBoxTP h3:before{ width: 15px; height: 15px;}
    .TopPageLink .CategoryBoxTP ul li{ width: 100%; font-size: 16px; margin: 0px; margin-bottom: 20px; line-height: 23px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 80px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(1){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(2){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:0; margin-left: 0; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ clear: both; margin-left:0px; margin-right: 0; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right:0px; margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(8){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li .ThreeLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .FiveLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .SixLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .SevenLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .NineLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .TenLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .TwelLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .Thirty{ padding-top: 30px; }

    /* NewsTopPage */
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:first-child{ width: 36%; margin-right: 4%; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:last-child{ width: 60%; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ font-size: 12px; padding: 13px 10px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a span{ font-size: 12px;}
    .NewsTopPageLeft .NewsTopPageLeftBody ul li{ padding-left: 0px; }
    .NewsTopPageLeft .NewsTopPageLeftBody ul li span{ display: block; top: 0; margin: 0px; width: auto; position: relative; font-weight: 200; margin-bottom: 5px; }

    /*.ULTail .ULTail1{ width: auto; float: left; margin-top: 20px; }
    .ULTail .ULTail2{ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail .ULTail3{ width: auto; float: left; margin-top: 20px; margin-left: 0%; }*/
    .ULTail div.ULTailList{ width: auto; float: left; margin-top: 20px; }
    .ULTail div.ULTailList:nth-child(2){}
    .ULTail div.ULTailList:nth-child(3){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(4){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(5){}
    .ULTail div.ULTailList:nth-child(6){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(7){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }

    /* LogoTail */
    .TailLogoandLink{ font-size: 15px; line-height: 40px; }
    .LogoTail span{ /*display: block;*/ margin-top: 0px; font-size: 13px; line-height: 21px; }
    .LogoTail img{ width: 100px; height: auto; margin-right: 10px; }

    /* CookiePopup */
    .PopupCondition { padding: 15px; border-radius: 20px;}
    .PopupCondition h3{ font-size: 23px; }
    .PopupCondition p{ font-size: 15px; margin: 30px 0px; }
    .PopupCondition .MobileScroll{ height: 400px; overflow: scroll;}
    .PopupCondition .BTNAccept a{ padding:5px 40px 5px 40px;}
    .PopupCondition p.BTNAccept{ margin: 0px; padding:0px; margin-top: 20px; }
    .PopupCondition .LineOne{ padding-left: 40px; }
    .PopupCondition .LineOne:before{ font-size: 30px; top: 50px; }
    .PopupCondition .LineOne:after{ left: 25px; top: 0; }
    .PopupCondition .LineTwo{ padding-left: 40px; }
    .PopupCondition .LineTwo:before{ font-size: 30px; top: 120px; }
    .PopupCondition .LineTwo:after{ left: 25px; top: 0; }
    .PopupCondition .LineThree{ padding-left: 40px; }
    .PopupCondition .LineThree:before{ font-size: 30px; top: 20px; }
    .PopupCondition .LineThree:after{ left: 25px; top: 0; }

    .JNTOEmail{ margin-right: 0px; font-size: 16px; }
    .JNTOEmail:before{ top: 12px; }
    .JNTOEmail2:before{ top: 12px; }
    .JNTOWebsiteH{ text-align: center;}
    .TailLogoandLinkBox{ display: Block; }

    #gal-results.containerPhotoSlide { margin-top: 10px; }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide { margin-bottom: 10px; }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 200px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 50px; margin: 0 4px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track { transform: translate3d(0px, 0px, 0px)!important; }

    /* SeminarPageListSlideAll */
    /*.SeminarPageListSlideAll{ height: 400px; }*/

    /* LatestSeminarBig */
    .LatestSeminarBig .RightWidthBox{ min-height: 300px!important;}
    .LatestSeminarBig .RightWidthBox .PictureDisplay{ height: 190px!important; }
    .LatestSeminarBig .RightWidthBox .RightCaptions .DetailLink{ position: relative;}
    .SeminarPageListSlideForBuyer .TitleToppage{ padding: 10px 0px 10px 0px; background-size: cover; background-position: right center; font-size: 20px; }
    .SeminarPageListSlideForBuyer .TitleToppage span{ width: 90%; margin: auto; }
    .SeminarPageListSlideForBuyer .TitleToppage img{ width: 100px; margin-left: 15px; }
}