@charset "UTF-8";
@import 'sanitize.css';
body { margin: 0; padding: 0; color: #123; background: #ffffff; font-family: 'Kanit', sans-serif; font-weight: 400; font-size:16px; letter-spacing: .5px; }
/*font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sarabun', sans-serif;*/

h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; font-weight: normal; letter-spacing: normal; }
ul,li,ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none; }
.clr:after{ content:""; display:block; height:0; clear:both; visibility:hidden; }
.FontJP{ font-family: 'M PLUS 1p', sans-serif; }
.FontEN{ font-family: 'Montserrat', sans-serif; }
.FontTH{ font-family: 'Kanit', sans-serif; }

/* HeaderRegister */
.HeaderRegister{ text-align: center; margin-top: 40px; font-family: 'M PLUS 1p', sans-serif; }
.HeaderRegister h1{ font-weight: 500; font-size: 19px; margin-bottom: 0px; }
.HeaderRegister p{ margin: 0px; font-size: 19px; font-weight: 500;}

/* RegisterBox */
.RegisterBox{ padding: 30px 40px; width: auto; height: auto; font-size: 15px; max-width: 700px; margin: auto; margin-top: 20px; background-color: #fff;  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);}
.RegisterBox input[type=text]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=text]::placeholder { color:#bec6ce; }
.RegisterBox input[type=email]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=email]::placeholder { color:#bec6ce; }
.RegisterBox input[type=password]{ padding: 10px 10px; width: 100%; background-color: #fff; border:1px solid #c6ced7; display: block; border-radius: 3px; margin-bottom: 10px;}
.RegisterBox input[type=password]::placeholder { color:#bec6ce; }
.RegisterBox button{ background-color: #981f3e; width: 100%; cursor: pointer; display:block; padding: 5px 10px; font-size: 19px; margin-top: 20px; text-align: center; border: 0px; border-radius: 5px; color: #fff; font-family: 'M PLUS 1p', sans-serif; }
.RegisterBox button:hover{ background-color: #a6806b;}
.RegisterBox input[type=submit]{ background-color: #981f3e; width: 100%; cursor: pointer; display:block; padding: 5px 10px; font-size: 19px; margin-top: 20px; text-align: center; border: 0px; border-radius: 5px; color: #fff; font-family: 'M PLUS 1p', sans-serif; }
.RegisterBox input[type=submit]:hover{ background-color: #a6806b;}
.RegisterBox .FontJP{ font-size: 14px; line-height: 22px;}
.RegisterBox a{ color: #4794d8; text-decoration: underline;}
.RegisterBox a:hover{ color: #a6806b; text-decoration: none;}
.RegisterBox .StrongTXT{ font-weight: 500;}
.SetPassword p{ margin: 0px; font-size: 14px; line-height: 21px;}
.RegisterBox .FontJP{ font-size: 13px;}
.RegisterBox .MemberLink{ text-align: center; margin-top: 20px;}
.RightContent .RegisterBox{ padding: 0px; max-width: 800px; box-shadow: 2px 2px 10px rgba(0,0,0,0);}

/* ValidateDisplay */
.ValidateDisplay{ display: block; margin-top: 20px;}
.Red{ color: #e60000;}
.DarkBlue19{ display: block; color: #213054; font-size: 19px!important; line-height: 30px!important; font-weight: 400; margin-bottom: 10px!important;}
.DarkBlue22{ display: block; color: #213054; font-size: 21px!important; line-height: 30px!important; margin-bottom: 10px!important;}
.AddressBox{ background-color: #f5f5f5; padding: 20px; margin-top: 10px; border-radius: 5px;}

/* ThanksRegis */
.ThanksRegis{ width: auto; height: auto; margin: auto; overflow: auto; padding: 10px 0px;}
.ThanksRegis .Left{ width: calc(100% - 650px); min-width: 120px; float: left; margin: 0px; padding-top: 30px; }
.ThanksRegis .Right{ width: calc(100% - 150px); float: right; margin: 0px; margin-top: 0px; margin-bottom: 5px; }
.ThanksRegis .Left img{ width: auto; max-width: 100%;}

/* FooterRegister */
.FooterRegister{ text-align: center; color: #363e46; font-size: 11px; margin-top: 20px; padding-bottom: 20px; }

/* Breadcrumb RegisterStep */
.RegisterStep { clear: both; height: auto; width: 100%; min-width: 320px; max-width: 700px; margin: auto; margin-top: 30px; padding-top: 30px; margin-bottom: -30px; overflow: auto; }
.RegisterStepBC { display: flex; border-radius: 0px; border:1px solid #a6806b; overflow: hidden; margin: auto; text-align: left; top: 50%;  width: 100%; height: 57px; transform: translateY(-50%); z-index: 1; background-color: #fff; font-size: 15px; font-family: 'M PLUS 1p', sans-serif; }
.RegisterStepBC a { position: relative; display: flex; flex-grow: 1; text-decoration: none; margin: auto; height: 100%; padding-left: 30px; padding-right: 0; color: #a6806b; }
.RegisterStepBC br{ display: none;}
.RegisterStepBC a:first-child { padding-left: 0px; }
.RegisterStepBC a:last-child { padding-right: 15.2px; }
.RegisterStepBC a:after { content: ""; position: absolute; display: inline-block; width: 57px; height: 57px; top: 0; right: -28.1481481481px; background-color: #fff; border-top-right-radius: 0px;  transform: scale(0.707) rotate(45deg); box-shadow: 1px -1px rgba(166, 128, 107, 1); z-index: 1; }
.RegisterStepBC a:last-child:after { content: none; }
.RegisterStepBC__inner { display: flex; flex-direction: column; margin: auto; z-index: 2; }
.RegisterStepBC__title { font-weight: normal; }
.RegisterStepBC__desc { font-weight: normal; }
.RegisterStepBC a.active{ background: #a6806b; color: white; }
.RegisterStepBC a.active:after { background: #a6806b; color: white; }
.RightContent .RegisterStep{ max-width: 800px!important;}
.RightContent .ChangeEmailPass{ margin-top: 40px!important;}

/* MyPageTemplate */
.MyPageTemplate{ width: auto; height: auto; margin: auto; overflow: auto; padding: 0px 0px;}
.MyPageTemplate .LeftMenu{ width: calc(100% - 600px); max-width: 340px; height: 100%; float: left; position: fixed; z-index: 9; background-color: #202f55; margin: 0px; padding-top: 50px; padding-bottom: 50px; overflow-y: scroll; }
.MyPageTemplate .LeftMenu .LeftBox{ float: right; width:230px; margin-right: 40px; color: #fff;}
.MyPageTemplate .LeftMenu .LeftBox .GroupBox{ margin-bottom: 35px; }
.MyPageTemplate .LeftMenu .LeftBox .GroupBox p{ margin: 0; }
.MyPageTemplate .LeftMenu .LeftBox .GroupHeader{ font-size: 18px; border-left: 5px solid #a6806b; padding-left: 10px; margin-bottom: 10px!important; font-weight: 500; }
.MyPageTemplate .LeftMenu .LeftBox .GroupHeader span{ font-size: 16px; display: block; }
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul{ margin: 0; padding: 0; }
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li{ font-size: 15px; letter-spacing: 0; border-bottom: 1px solid #a6806b;}
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li:last-child{ border-bottom: 0px;}
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li span{ display: block; }
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li a{ display: block; padding: 13px 13px 13px 15px; color: #fff; transition: .2s ease;}
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li a.Active{ background-color: #12224a; }
.MyPageTemplate .LeftMenu .LeftBox .GroupBox ul li a:hover{ background-color: #12224a; transition: .2s ease;}
.MyPageTemplate .RightContent{ width: calc(100% - 420px); float: right; position: relative; z-index: 8; margin: 0px; margin-top: 0px; margin-bottom: 5px; margin-right: 40px; padding-bottom: 60px; padding-top: 10px; }

.AllMargin{ display: flex; align-items: center; justify-content: flex-end; width: 100%; max-width: 1200px; margin: auto; height: 90px; overflow: auto;}

/* MemberHeader */
.MemberHeader{ position: fixed; display: flex; font-family: 'Montserrat', sans-serif; font-size: 16px; z-index: 999; text-align: right; }
.MemberHeader a{ color: #213054;}
.MemberHeader a:hover{ color: #663300;}
.MemberHeader p{ display: inline-block; margin: 0; margin-left: 5px; }
.MemberHeader .BTNTopPage{font-family: 'Caveat', cursive; background-color: #8c5f5e; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); font-size: 15px; font-weight: 500; padding: 0px 10px 2px 10px; color: #fff; border-radius: 100px; border: 1px solid #fff; }
.MemberHeader .BTNTopPage:hover{ background-color: #213054; color: #fff;}
.MemberHeader .BTNLogout{font-family: 'Caveat', cursive; background-color: #663300; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); font-size: 15px; font-weight: 500; padding: 0px 10px 2px 10px; color: #fff; border-radius: 100px; border: 1px solid #fff; }
.MemberHeader .BTNLogout:hover{ background-color: #213054; color: #fff;}
.MemberHeader .ListBox{ padding-right: 20px; margin-top: 10px; }
.MemberHeader .ListBox ul{ display: flex;}
.MemberHeader .ListBox ul li{ font-size: 15px; font-family: 'Kanit', sans-serif; text-align: center; padding-right: 40px; }
.MemberHeader .ListBox ul li span{ font-size: 15px; font-family: 'Caveat', cursive; color: #b0876e; display: block; margin: 0; }
.MemberHeader .TopEmail{ display: block; font-size: 14px; margin-top: 10px; line-height: 18px; }
.MemberHeader .TopEmail .IDSeller{ font-size: 13px; display: block;}
.MenuSeller .MemberHeader { right: 120px; display: block; width: 50%;}
.MenuSeller .MemberHeader p{ display: inline-block!important; }
.MenuSeller .MemberHeader .TopEmail .IDSeller{ font-size: 13px; display: inline-block;}

/* mobile-menu-LeftSide */
.mobile-menu-LeftSide__checkbox { display: none; }

/* FooterYear2020+2021 */
.YearsBox{ display: inline-block!important; width: 50px!important;}
.HeaderMarginSeminare{ margin-bottom: 30px;}
.FooterBoxLeft{ margin-right: 20px;}

/* FormBox */
.MyPageTemplate .RightContent .FormBox{ background-color: #fff; box-shadow: 2px 2px 10px rgb(0 0 0 / 0%); padding: 0px; border-radius: 0px; }
.MyPageTemplate .RightContent .FormBox{ width: auto; height: auto; max-width: 800px; margin: auto; margin-top: 20px; margin-bottom: 20px; }
.MyPageTemplate .RightContent .FormBox h2{ text-align: center; text-transform: uppercase; }
.MyPageTemplate .RightContent .FormList{ margin-top: 20px;}
.MyPageTemplate .RightContent .FormList fieldset{ border-radius: 15px; border: 1px solid #eee; margin-bottom: 0px; }
.MyPageTemplate .RightContent .FormList fieldset legend{ padding-left: 10px; padding-right: 10px; font-size: 20px; font-weight: bold; margin-left: 15px; color: #ffa32f; }
.MyPageTemplate .RightContent .FormList ul { padding:20px;}
.MyPageTemplate .RightContent .FormList ul li{ clear: both; width: auto; height: auto; padding: 20px 0px; overflow: auto; }
.MyPageTemplate .RightContent .FormList ul li:last-child{ border-bottom: 0px; }
.MyPageTemplate .RightContent .FormList ul li p{ width: auto; margin: 0px; margin-top: 0px; margin-bottom: 5px; margin-right: 30px; }
.MyPageTemplate .RightContent .FormList ul li p.FloatLeft{ float: left; margin-top: 6px; }
.MyPageTemplate .RightContent .FormList ul li input[type=text]{ display: block; outline:none; width: 100%; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li input[type=email]{  display: block; outline:none; width: 100%; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li textarea{ display: block; outline:none; width: 100%; min-height: 80px; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li select{ display: block; outline:none; padding: 10px 30px 10px 10px; border-radius: 5px; border:1px solid #ccc;-webkit-appearance: none; -moz-appearance: none; background: transparent; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; background-position-x: 100%; background-position-y: 0px;}
.MyPageTemplate .RightContent .FormList ul li input[type=file]{ outline:none; margin-top: 0px; }
.MyPageTemplate .RightContent .BTNList{ text-align: center; margin-top: 50px; }
.MyPageTemplate .RightContent .FormBox button { position: relative; outline:none; cursor: pointer; background-color: #30a9b0; border:1px solid #30a9b0; color: #fff; letter-spacing: 1px; padding: 10px 30px 10px 30px; border-radius: 5px; font-size: 16px; font-weight: 600; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: all .3s; }
.MyPageTemplate .RightContent .FormBox button:hover{ background-color: #b1eae9; border:1px solid #30a9b0; color: #123; transition: all .3s; }
.MyPageTemplate .RightContent .FormBox button.EditClass{ background-color: #ffa32f; border:1px solid #ffa32f; }
.MyPageTemplate .RightContent .FormBox button:hover.EditClass{ background-color: #ffe7a8; color: #123; }
.MyPageTemplate .RightContent .FormBox button.ConfirmClass{ background-color: #2daf68; border:1px solid #2daf68; }
.MyPageTemplate .RightContent .FormBox button:hover.ConfirmClass{background-color: #c7f4c7; color: #123; }
.MyPageTemplate .RightContent .FormBox button.SubmitClass{ background-color: #2daf68; border:1px solid #2daf68; }
.MyPageTemplate .RightContent .FormBox button:hover.SubmitClass{background-color: #c7f4c7; color: #123; }
.MyPageTemplate .RightContent .NeedRed{ color: red; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal{ font-weight: 300; }
.MyPageTemplate .RightContent .FormList ul li p span.FontNormal{ line-height: 21px; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal2{ font-weight: 300; font-size: 12px; color: #999; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal3{ font-weight: 300; font-size: 12px; line-height: 15px; }
.MyPageTemplate .RightContent .FormList ul li p span.FontNormal2{ line-height: 18px!important; }
.MyPageTemplate .RightContent .FormList ul .FontHead{ font-size: 20px; text-align: left; padding-top: 50px; margin-bottom: 0px; }
.MyPageTemplate .RightContent .FileList ul{ margin: 0px!important; padding: 0px!important; list-style: none; }
.MyPageTemplate .RightContent .FileList ul li{ width: 32%; clear: none; float: left;margin: 0px; margin-left: 1%; margin-right: 1%; padding: 10px; text-align: center; overflow: hidden; }
.MyPageTemplate .RightContent .FileList ul li:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .FileList ul li:last-child{ margin-right: 0px; }
.MyPageTemplate .RightContent .LabelProvince label{ display: inline-block; margin-left: 10px; font-weight: 300; }
.MyPageTemplate .RightContent .LabelProvince label:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .LabelLang label{ display: inline-block; margin-left: 10px; font-weight: 300; }
.MyPageTemplate .RightContent .LabelLang label:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .LabelLang .TXTOthers{ width: auto; margin-left: 10px; }
.MyPageTemplate .RightContent .LabelMarTop label{ display: inline-block; line-height: 35px; margin-left: 10px; font-weight: 300;}
.MyPageTemplate .RightContent .FontNormalStyle{ font-weight: 300; }
.MyPageTemplate .RightContent .BIT{ display: none; }
.MyPageTemplate .RightContent .InsentiveID{ display: none; }
.MyPageTemplate .RightContent .FilePDF{ width: 100%; }
.MyPageTemplate .RightContent .FilePDF .TextPDFName{ outline:none; /*width: 100%!important;*/ margin-top: 5px; }
.MyPageTemplate .RightContent .TextPDFName{ outline:none; /*width: 100%!important;*/ margin-bottom: 10px; margin-top: 5px; }
.MyPageTemplate .RightContent .FilePDF label{ display: inline-block; margin: 0px; margin-right: 10px; padding: 0px; }
.MyPageTemplate .RightContent .MaterialURL{ margin-top: 10px; }
.MyPageTemplate .RightContent .MaterialURL ul{ margin: 0px!important; padding: 0px!important; list-style: none; }
.MyPageTemplate .RightContent .MaterialURL ul li{ width: 48%; clear: none; float: left;margin: 0px; margin-left: 1%; margin-right: 1%; padding: 0px; margin-bottom: 10px; text-align: left; overflow: hidden; font-size: 14px; font-weight: 300; }
.MyPageTemplate .RightContent .MaterialURL ul li:nth-child(odd){ margin-left: 0px; margin-right: 0px; }
.MyPageTemplate .RightContent .MaterialURL ul li span{ padding-left: 5px; }
.MyPageTemplate .RightContent .MaterialURL ul li select{ width: 100%; background-color: #fff; display: block; outline:none; padding: 10px 30px 10px 10px; border-radius: 5px; border:1px solid #ccc;-webkit-appearance: none; -moz-appearance: none; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; background-position-x: 100%; background-position-y: 0px;}
.MyPageTemplate .RightContent .RadioBox input[type='radio'] { transform: scale(1.3); margin-right: 5px; }
.MyPageTemplate .RightContent .RadioBox label{ clear: both; display: block!important;}
#Section1{ display: block;padding-top: 40px;}
#Section2{ display: block;padding-top: 40px;}
#Section3{ display: block;padding-top: 40px;}
#Section4{ display: block;padding-top: 40px;}
#TopicCheck{ display: none;}
.StyleMP0{ margin: 0px!important; padding-top: 0!important; padding-bottom: 0!important;}
.StyleMP0 li{ padding: 15px 0px!important;}
.TxtBoxDate{ width: 150px!important; display: block; clear: both;}


.MyPageTemplate .RightContent .FormBox .ThanksPageDisplay{ height: auto; margin: auto; margin-top: 60px; font-size: 18px; text-align: center;}

.MyPageTemplate .RightContent .ProvinceRegionList ul{ margin: 0px!important; padding:0px!important; overflow: auto; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li{ margin: 10px 0px; padding: 0px; font-weight: 300; overflow:auto; clear: both; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion{ width: calc(100% - 670px); min-width: 130px; float: left; padding-right: 20px; position: relative; text-align: left; font-size: 15px; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion:after{ position: absolute; right: 0; top: 10px; width: 10px; height: 1px; background-color: #123; content: ''; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .RightRegion{  width: calc(100% - 150px); float: right; font-size: 14px; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li label{ display: inline-block; margin-right: 10px; margin-left: 0px; font-weight: 300; }

.MyPageTemplate .RightContent .ClassFilePDFLeft{ width: 120px;}

/* PrivacyClass */
.MyPageTemplate .RightContent .PrivacyClass{ height: auto; margin: 20px; font-size: 14px; padding: 5px 20px; /*background-color: #fff; overflow: scroll;*/ font-size: 14px; }
.MyPageTemplate .RightContent .PrivacyClass p{ margin: 14px 0px;}
.MyPageTemplate .RightContent .PrivacyClass label{ display: block; padding-top: 10px; margin-top: 10px; border-top: 1px solid #ccc;}

/* ToolsPanel */
.ToolsPanel{ width: calc(100% - 340px); /*left:340px;*/ right: 0; background-color: #fff; height: 55px; position: fixed; z-index: 9; top: 90px; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); }
.ToolsPanel .ToolsPanelBox{ width: auto; max-width: 800px; margin: auto; margin-top: 12px; overflow:auto; text-align: left; }
.ToolsPanel .ToolsPanelBox .SectionInfo{ float: left; text-align: left;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul{ margin: 0; padding: 0;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li{ display: inline-block; width: 33px; height: 33px; line-height: 30px; text-align: center; border-radius: 100px; border:1px solid #dfdfdf; font-weight: 500; }
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(1){ background-color: #ffffd7; color: #ff9d45;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(1) a{ color: #ff9d45; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(2){ background-color: #e6ffe1; color: #51a001;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(2) a{ color: #51a001; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(3){ background-color: #e0ebff; color: #879cff;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(3) a{ color: #879cff; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(4){ background-color: #e6e6ff; color: #8067b8;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(4) a{ color: #8067b8; display: block;}
.ToolsPanel .ToolsPanelBox .ToolsAction{ float: right; min-width: 70%; text-align: right; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; }
.ToolsPanel .ToolsPanelBox .ToolsAction p{ display: inline-block; margin: 0; padding: 0 0 0 8px;}
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview a{ width: 100px; background-color: #6880d5; color: #fff; padding: 7px 10px; }
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview img{ width: 16px; height: auto; vertical-align: middle;}
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave button{ width: 70px; background-color: #38979d; color: #fff; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; border:0px; padding: 7px 10px; cursor: pointer; }
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave img{ width: 12px; height: auto; vertical-align: middle;}
.ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus{ width: 180px;}
.ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus span{ display: inline-block;}
.ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus select{ display: inline-block; outline:none; padding: 6px 30px 6px 10px; border:1px solid #80807f;-webkit-appearance: none; -moz-appearance: none; background: transparent; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; background-position-x: 100%; background-position-y: 0px; }
.ToolsPanel .ToolsPanelBox .TemplateTools{ width: auto;}
.ToolsPanel .ToolsPanelBox .TemplateTools p{ margin: 0; padding: 0;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left{ float: left;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left{ margin: 0; margin-top: 5px;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left label{ display: inline-block; margin-left: 10px;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left input[type='radio'] { transform: scale(1.2); }
.ToolsPanel .ToolsPanelBox .TemplateTools .Right{ float: right;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Right button{ width: 70px; background-color: #38979d; color: #fff; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; border:0px; padding: 7px 10px; cursor: pointer; }
.ToolsPanel .ToolsPanelBox .TemplateTools .Right img{ width: 12px; height: auto; vertical-align: middle;}

/* FileUploadCSS */
.FileUploadCSS { width: 120px; padding: 6px 10px; border-radius: 5px; font-size: 15px; overflow: hidden; position: relative; cursor: pointer; background-color: #4b8df7; color: #fff; }
.FileUploadCSS:hover { background-color: blue; }
.FileUploadCSS input[type=file] { width: 0px; cursor: pointer; position: relative; top: 0; right: 0; z-index: 99; font-size: 20px;  opacity: 0; -moz-opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* OthersPage */
.MyPageTemplate .RightContent .OthersPage{ margin-top: 50px;}
.MyPageTemplate .RightContent .OthersPage fieldset{ border-radius: 15px; border: 1px solid #837a5e; margin-bottom: 0px; }
.MyPageTemplate .RightContent .OthersPage fieldset legend{ padding-left: 10px; padding-right: 10px; font-size: 17px; font-weight: 500; margin-left: 15px; color: #a6806b; }
.MyPageTemplate .RightContent .OthersPage label{ display: inline-block; margin-left: 10px;}
.MyPageTemplate .RightContent .OthersPage .OthersPageBox{ padding: 30px;}
.MyPageTemplate .RightContent .OthersPage input[type='radio'] { transform: scale(1.2); }
.MyPageTemplate .RightContent .OthersPage .DescriptionsBox{ margin-top: 20px; font-size: 15px;}
.MyPageTemplate .RightContent .OthersPage .DescriptionsBox p{ margin: 0;}
#PrivateDisplay{ display: none;}
.SmallFont{ font-size: 14px; }
.SmallFont13{ font-size: 13px; }
.BTNBorderRa input[type=submit]{ background-color: #981f3e; width: 100%; font-family: 'M PLUS 1p', sans-serif;  cursor: pointer; display:block; margin: auto; padding: 5px 15px; font-size: 19px; margin-top: 20px; text-align: center; border: 0px; border-radius: 5px; color: #fff; }
.BTNBorderRa input[type=submit]:hover{ background-color: #a6806b;}

/* OtherTemplat */
.OtherTemplate{ width: auto; height: auto; max-width: 800px; margin: auto; margin-top: 60px; margin-bottom: 20px; }
.OtherTemplate .Title{ color: #a6806b; font-size: 19px; font-family: 'M PLUS 1p', sans-serif; font-weight: 500; }

/* LoginHistoryList */
.LoginHistoryList{ font-family: 'M PLUS 1p', sans-serif; overflow: auto; margin-top: 20px; }
.LoginHistoryList ul{ overflow: auto;}
.LoginHistoryList ul li.LHHeader{ width: auto; height: auto; display: block; background-color: #a6806b; color: #fff; font-size: 16px;}
.LoginHistoryList ul li{ width: auto; height: auto; border-bottom: 1px solid #837a5e; padding: 5px 10px; clear: both; overflow: auto; font-size: 15px; }
.LoginHistoryList ul li p{ margin: 0;}
.LoginHistoryList ul li p:nth-child(1){  width: calc(100% - 560px); width: 100%; max-width: 145px; float: left; }
.LoginHistoryList ul li p:nth-child(2){ width: calc(100% - 180px); float: right; }

/* RowsLR */
.RowsLR{ width: auto; height: auto; margin: auto; overflow: auto; clear: both;}
.RowsLR p:nth-child(1){  width: calc(100% - 560px); width: 100%; max-width: 210px; float: left; }
.RowsLR p:nth-child(2){ width: calc(100% - 215px); float: right; }

/* ContactStaff */
.ContactStaff{ margin-top: 30px; font-size: 15px;}
.ContactStaff .TitleSize{ font-size: 16px; font-weight: 500;}
.ContactStaff p{ margin: 0; margin-bottom: 10px; }

/* ThanksCenter */
.ThanksCenter{ text-align: center; padding: 20px 0; font-size: 19px; font-weight: 400;}
.ThanksCenter img{ max-width: 120px; margin-bottom: 20px; }

/* BannerandEvent */
.BannerandEvent{ width: auto; max-width: 1200px; display: flex; align-items: flex-start; overflow: hidden; height: auto; margin: auto; /*background-color: #f2f2f2;*/ margin-top: 30px; margin-bottom: 40px; }

/* FeatureSlideToppage */
.FeatureSlideToppage{ width: 70%; height: auto; /*margin: auto; background-color: #f2f2f2;*/ }
.FeatureSlideToppage ul{ margin: 0px; padding: 0px; }
.FeatureSlideToppage ul li img{ width: auto; max-width: 100%; height: auto; max-height: 580px; margin: auto; }

/* CalendarRight */
.CalendarRight{ width: 30%; margin-left: 2%; background-color: #eaecec;}

/* ToppageCompanyInfo */
.ToppageCompanyInfo{   background: transparent; /*background-color: #f6f2e9;*/}
.ToppageCompanyInfo .BTNLink{ border:0;}
.RelatedCompanyInfo ul li .RightCaptions .ToppicEvent{ position: relative; margin: 0px; color: #db4f37; padding:0px 0px 5px 25px; font-size: 18px; font-weight: 500; }
.RelatedCompanyInfo ul li .RightCaptions .ToppicEvent:before{ content: ''; position: absolute; width: 16px; height: 16px; top: 5px; left: 0; background: url('../images/icon/icon-toppic-event.svg')no-repeat; background-size: contain; }
.RelatedCompanyInfo ul li .RightCaptions .ToppicNews{ position: relative; margin: 0px; color: #6ba2a5; padding:0px 0px 5px 25px; font-size: 18px; font-weight: 500; }
.RelatedCompanyInfo ul li .RightCaptions .ToppicNews:before{ content: ''; position: absolute; width: 16px; height: 16px; top: 5px; left: 0; background: url('../images/icon/icon-toppic-news.svg')no-repeat; background-size: contain; }
.RelatedCompanyInfo ul li .PictureDisplayRe{ width: auto; height: 220px; }
.slick-dots li button:before{ font-size: 12px!important; }
.RelatedCompanyInfo ul li .BannerLocked2{ width: auto; max-width: 100%; }

/* ToppageLastToppic */
.ToppageLastToppic{ width: auto; height: auto; overflow: auto; text-align: center; padding-bottom: 30px; /*margin-top: 80px;*/ margin-bottom: 30px; /*background: url('../images/bg-toppage-list.png')no-repeat;*/ background-position: top center; background-size: contain; }
.ToppageLastToppicBox{ max-width: 1200px; margin: auto; overflow: auto; /*padding: 0px 40px;*/ text-align: center; }
.ToppageLastToppic h2{ display: inline-block; position: relative; margin: auto; color: #213054; font-size: 30px; font-weight: 500; text-align: center; padding: 0px 40px 0px 40px; }
.ToppageLastToppic h2:before{ width: 21px; height: 24px; content: ''; position: absolute; left: 10px; top: 15px; background: url('../images/icon/icon-line-left.svg')no-repeat; background-size: contain; }
.ToppageLastToppic h2:after{ width: 21px; height: 24px; content: ''; position: absolute; right: 10px; top: 15px; background: url('../images/icon/icon-line-right.svg')no-repeat; background-size: contain; }
.ToppageLastToppic .Captions{ margin: 0; padding: 0; font-size: 40px; vertical-align: top; color: #213054; clear: both;}
.ToppageLastToppic .Captions span{ font-size: 28px; display: inline-block; margin-right: 10px; vertical-align: top; padding-top: 5px; position: relative; }
.ToppageLastToppic .Captions span:after{ width: 45px; height: 2px; background-color: #92806b; content: ''; position: absolute; left: 0; bottom: 1px; }
.ToppageLastToppicBox .PartnerTop{ padding:20px 0px; border-bottom: 1px solid #a9a9a9; overflow: auto; clear: both;}
.ToppageLastToppicBox .PartnerTail{ padding:20px 0px; border-bottom: 1px solid #a9a9a9; overflow: auto; clear: both;}
.ToppageLastToppicBox .PartnerTopBox{ width: 49%; padding:20px 0px; border-bottom: 1px solid #a9a9a9; overflow: auto; float: left;}
.ToppageLastToppicBox .PartnerTopBox:nth-child(2){ margin-left: 2%;}
.ToppageLastToppicBox .PartnerTopBox:nth-child(3){ clear: both;}
.ToppageLastToppicBox .PartnerTopBox:nth-child(4){ margin-left: 2%;}
.ToppageLastToppicBox .slick-prev,.ToppageLastToppicBox .slick-next{ width: 15px!important; height: 40px!important;}
.ToppageLastToppicBox .slick-prev:before { background-image: url('../images/icon/icon-arrow-left.svg'); background-size: contain!important; display: inline-block!important; width: 15px!important; height: 40px!important; content:""; }
.ToppageLastToppicBox .slick-next:before { background-image: url('../images/icon/icon-arrow-right.svg'); background-size: contain!important; display: inline-block!important; width: 15px!important; height: 40px!important; content:""; }
.ToppageLastToppicBox .slick-track { float: left!important; }
.ToppageLastToppicBox .slick-prev, .ToppageLastToppicBox .slick-next { top: 50%;}
.ToppageLastToppicBox .EventTitle{ border-radius: 22px; margin-top: 10px; background-image: url('../images/bg-event2.png'); background-size: cover; color: #fff; font-size: 27px; font-weight: 500; padding: 10px 20px 10px 20px; text-align: center; position: relative; margin-bottom: 0;}
.ToppageLastToppicBox .EventTitle:before{ position: absolute; content: ''; width: 90px; height: 90px; top: -10px; background-image: url('../images/icon/icon-title-left-event.svg'); background-size: cover; margin-left: 190px; }
.ToppageLastToppicBox .EventTitle span.FontItalic{ font-family: 'Caveat', cursive; display: block; }
.ToppageLastToppicBox .EventTitle span.FontSmall{ font-size: 16px; display: inline-block; height: 25px; margin-left: 5px; margin-right: 5px; vertical-align: super; border-bottom: 1px dotted #ccc;}
.ToppageLastToppicBox ul{ margin: 10px 40px;}
.ToppageLastToppicBox ul li{ text-align: left; margin: 0 10px; overflow: auto; }
.ToppageLastToppicBox ul li a{ color: #000; }
.ToppageLastToppicBox ul li p{ margin: 0;}
.ToppageLastToppicBox .PictureEventList{ width: 200px; height: 130px; float: right; margin-left: 20px; text-align: center; /*background-color: #f2f2f2;*/ }
.ToppageLastToppicBox .PictureEventList img{ width: auto; margin: auto; max-width: 200px; max-height: 130px;  }
.ToppageLastToppicBox .EventDate{ position: relative; color: #db4f37; font-size: 18px; padding-left: 30px; }
.ToppageLastToppicBox .EventDate:before{ width: 25px; height: 25px; position: absolute; left: 0; top: 2px; content: ''; background-image: url('../images/icon/icon-event-list.svg'); background-size: cover; }
.ToppageLastToppicBox .NewsToppic{ position: relative; color: #6ba2a5; font-size: 18px; padding-left: 30px; }
.ToppageLastToppicBox .NewsToppic:before{ width: 25px; height: 25px; position: absolute; left: 0; top: 2px; content: ''; background-image: url('../images/icon/icon-event-list2.svg'); background-size: cover; }
.ToppageLastToppicBox .Title{ font-size: 17px; line-height: 25px; margin-bottom: 10px;}
.ToppageLastToppicBox .CompayandDate{ padding-top: 0px; font-size: 14px; clear: both;}
.ToppageLastToppicBox .CompayandDate p:nth-child(1){ width: calc(100% - 160px); float: left; }
.ToppageLastToppicBox .CompayandDate p:nth-child(1) span{ width: 60px; height: 60px; float: left; display: table; margin-right: 10px; border: 1px solid #eee; border-radius: 100px; padding: 10px; text-align: center; background-color: #fff;}
.ToppageLastToppicBox .CompayandDate p:nth-child(1) span span{ display: table-cell; vertical-align: middle; text-align: center; padding:0; margin: 0; border:0; float: none;width: 40px; height: 40px; }
.ToppageLastToppicBox .CompayandDate p:nth-child(1) span img{ width: auto; max-width: 40px; height: auto; max-height: 40px; vertical-align: middle; margin: 0 auto; }
.ToppageLastToppicBox .CompayandDate p:nth-child(1) label{ display: block; margin-top: 15px; line-height: 21px;}
.ToppageLastToppicBox .CompayandDate p:nth-child(2){ width: calc(100% - 650px); min-width: 150px; float: right; text-align: right; font-size: 14px; font-weight: 200; color: #999; padding-top: 15px; }
.ToppageLastToppicBox .BTNLink{ width:auto; height: auto; position: relative; text-align: center; margin-top: 30px;}
.ToppageLastToppicBox .BTNLink:after{ position: absolute; content: ''; left:0; width: 100%; top: 21px; border-bottom: 1px dotted #ca704a; z-index: -1;}
.ToppageLastToppicBox .BTNLink a{ display: inline-block; font-size: 18px; vertical-align: top; padding: 8px 40px; background-color: #dc704a; border-radius: 100px; color: #fff; box-shadow: 2px 2px 5px rgba(0,0,0,0.3); transition: .3s ease; }
.ToppageLastToppicBox .BTNLink a:hover{ background-color: #c35a24; }
.ToppageLastToppicBox .BTNLink img{ width: 8px; margin-left: 5px; margin-top: -5px; }
.ToppageLastToppicBox .BTNLink a:hover img{ margin-left: 10px; transition: .3s ease; }
.ToppageLastToppicBox .BannerLocked{ width: auto; max-width: 100%; margin-bottom: 5px; }
.ToppageLastToppicBox .slick-prev:before { background-image: url('../images/icon/icon-arrow-left.svg'); background-size: contain!important; display: inline-block!important; width: 50px!important; height: 50px!important; content:""; }
.ToppageLastToppicBox .slick-next:before { background-image: url('../images/icon/icon-arrow-right2.svg'); background-size: contain!important; display: inline-block!important; width: 50px!important; height: 50px!important; content:""; }
.ToppageLastToppicBox .slick-track { float: left!important; }
.ToppageLastToppicBox .slick-prev{left: -40px!important; top: 48%!important; width: 50px!important; height: 50px!important; z-index: 99999; }
.ToppageLastToppicBox .slick-next{right: -40px!important; top: 48%!important; width: 50px!important; height: 50px!important; z-index: 99999; }

/* CategoryToppicBox */
.ToppageLastToppicPage{ padding: 0px;}
.ToppageLastToppic .CategoryToppic{ padding: 15px 0px; background-color: #fff;  box-shadow: 2px 2px 10px rgba(0,0,0,0.2); /*margin-top: 20px;*/}
.ToppageLastToppic .CategoryToppicBox{ max-width: 1200px; margin: auto; text-align: left; }
.ToppageLastToppic .CategoryToppicBox li{ display: inline-block; margin-right: 10px; font-weight: 500; }
.ToppageLastToppic .CategoryToppicBox li a{ display: block; padding: 5px 30px; border-radius: 100px; }
.ToppageLastToppic .CategoryToppicBox li.ToppicAll a{ border:2px solid #213054; color: #213054; }
.ToppageLastToppic .CategoryToppicBox li.ToppicAll a:hover{ background-color: #213054; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicAll a.Active{ background-color: #213054; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a{ border:2px solid #db4f37; color: #db4f37; padding: 5px 30px 5px 50px; position: relative;}
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a:before{ position:absolute; width: 17px; height: 16px; content:''; left: 25px; top: 9px; background-image: url('../images/icon/icon-toppic-event.svg'); background-size: contain; }
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a:hover:before{ background-image: url('../images/icon/icon-event-w.svg'); }
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a:hover{ background-color: #db4f37; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a.Active{ background-color: #db4f37; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicEvent a.Active:before{ background-image: url('../images/icon/icon-event-w.svg'); }
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a{ border:2px solid #6ba2a5; color: #6ba2a5; padding: 5px 30px 5px 50px; position: relative;}
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a:before{ position:absolute; width: 17px; height: 15px; content:''; left: 25px; top: 9px; background-image: url('../images/icon/icon-toppic-news.svg'); background-size: contain; }
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a:hover:before{ background-image: url('../images/icon/icon-news-w.svg'); }
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a:hover{ background-color: #6ba2a5; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a.Active{ background-color: #6ba2a5; color: #fff;}
.ToppageLastToppic .CategoryToppicBox li.ToppicNews a.Active:before{ background-image: url('../images/icon/icon-news-w.svg'); }
.ToppageLastToppicPage ul{ margin-top: 25px; overflow: auto;}
.ToppageLastToppicPage ul li{ width: 49%; float: left; overflow: auto; margin: 0 0 2% 2%; border-bottom: 1px solid #a9a9a9; padding-bottom: 15px;}
.ToppageLastToppicPage ul li:nth-child(odd){ margin-left: 0; clear: both;}
.HeaderTopicPage{  background-image: url('../images/bg-topic-all.png'); background-size: cover; color: #fff; font-size: 25px; text-align: center; padding-bottom: 30px;}
.HeaderTopicPage .Breadcrumbs{ text-align: left;}
.HeaderTopicPage a{ color: #fff;}
.HeaderTopicPage .BixTXT p{ margin: 0; padding: 0; text-align: center;}
.HeaderTopicPage .BixTXT .Captions{ text-align: center;}
.HeaderTopicPage .BixTXT{ position: relative; display: inline-block; text-align: center; margin: auto; vertical-align: top; z-index: 999999;}
.HeaderTopicPage .BixTXT:before{position: absolute; content: ''; width: 80px; height: 80px; background-image: url('../images/icon/icon-title-left-event.svg'); background-size: cover; top: 0px; left: -100px;}
.HeaderTopicPage .BixTXT:after{ position: absolute; content: ''; width: 80px; height: 80px; background-image: url('../images/icon/icon-news-topic.png'); background-size: cover; top: 0px; right: -100px;}
.HeaderTopicPage .BixTXT span.txt1{ font-size: 25px; display: block; font-family: 'Caveat', cursive;}
.HeaderTopicPage .BixTXT span.Sub{ font-size: 18px; height: 26px; display: inline-block; border-bottom: 1px dotted #fff; vertical-align: top; margin-left: 10px; margin-right: 10px; margin-top: 5px;}

/* ToppageSearchBox */
.ToppageSearch{ width: auto; height: auto; overflow: auto; text-align: center; padding-bottom: 30px; margin-bottom: 30px; }
.ToppageSearchBox{ max-width: 1200px; margin: auto; /*overflow: auto; padding: 0px 40px;*/ text-align: left; }
.ToppageSearchBox .SearchTitle{ border-radius: 22px; margin-top: 10px; background-image: url('../images/bg-search-box.png'); background-size: cover; background-position: center; color: #fff; font-size: 27px; font-weight: 500; padding: 10px 20px 10px 20px; text-align: center; position: relative; margin-bottom: 0;}
.ToppageSearchBox .SearchTitle span.FontItalic{ font-family: 'Caveat', cursive; display: block; }
.ToppageSearchBox .SearchTitle span.FontSmall{ font-size: 16px; display: inline-block; height: 25px; margin-left: 5px; margin-right: 5px; vertical-align: super; border-bottom: 1px dotted #ccc;}

/* SellerInfo */
.LastUpdate{ margin-top: 30px; color: #787878; font-size: 16px; font-weight: 300;}
.ContentBoxLeft .SupportMenuList ul li:nth-child(6):before{ position: absolute; content: '6'; bottom: -16px; left: 13px; font-size: 45px; font-weight: 600; color: #dac7b4; font-family: 'Montserrat', sans-serif; }
.ContentBoxLeft .SupportMenuList ul li:nth-child(7):before{ position: absolute; content: '7'; bottom: -16px; left: 13px; font-size: 45px; font-weight: 600; color: #dac7b4; font-family: 'Montserrat', sans-serif; }
.ContentBoxLeft .SupportMenuList ul li:nth-child(8):before{ position: absolute; content: '8'; bottom: -16px; left: 13px; font-size: 45px; font-weight: 600; color: #dac7b4; font-family: 'Montserrat', sans-serif; }
/* TippicBox */
.ContentBoxLeft .TippicBox{ padding: 20px; border:1px solid #afafaf; margin-bottom: 30px;}
.ContentBoxLeft .TippicBox .TippicBoxPic{ margin: 0px; text-align: center; background-color: #f2f2f2; }
.ContentBoxLeft .TippicBox .TippicBoxPic img{ width: auto; max-width: 100%; max-height: 550px; height: auto; }
.ContentBoxLeft .TippicBox .Title{ margin: 10px 0; font-size: 26px; }
.ContentBoxLeft .TippicBox .Descriptions{ font-family: 'Sarabun', sans-serif!important; font-size: 18px!important; font-weight: 300!important; }
.ContentBoxLeft .TippicBox .Descriptions p{ font-family: 'Sarabun', sans-serif!important; font-size: 18px!important; font-weight: 300!important; margin: 5px 0!important; }
.ContentBoxLeft .TippicBox .Descriptions a{ color: #0921e2;}
.ContentBoxLeft .TippicBox .Date{ font-size: 16px; font-weight: 300; color: #787878; margin-bottom: 0; }
.ContentBoxLeft .TippicBox .ToppicType{ color: #db4f37; font-size: 20px;}
.ContentBoxLeft .TippicBox .ToppicType img{ width: 114px; vertical-align: middle; border-radius: 100px;}


/* Seller info Photo V2 */
#gal-results.containerPhotoSlide { width: auto; margin: auto; height: auto; margin-bottom: 30px; }
#gal-results.containerPhotoSlide #gallery-view #gal-slide { float: left; width: calc(100% - 165px); background-color: #f2f2f2; }
#gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 466px; outline: none;  }
#gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img img { margin: 0 auto; }
#gal-results.containerPhotoSlide #gallery-view #gal-slide .slick-prev, #gal-results.containerPhotoSlide #gallery-view #gal-slide .slick-next {  color: #fff; border: none; line-height: 1em; width: 30px; height: 30px; position: absolute; top: 50%; z-index: 999; border-radius: 50%; }
#gal-results.containerPhotoSlide #gallery-view #gal-slide .slick-next { right: 0;}
#gal-results.containerPhotoSlide #gallery-thumbs{ width: calc(100% - 710px); min-width: 140px;max-width: 140px; float: right; height: 466px;}
#gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 100px; margin: 0 0 22px 0; outline: none; cursor: pointer; background-color: #ccc; position: relative; }
#gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track { transform: translate3d(0px, 0px, 0px)!important; }
.PicBigLeft{ position: absolute; top: 20px; left: 20px;}
.PicBigLeft img{ width: 120px; height: auto;}
.PicSmallRight{ position: absolute; top: 5px; right: 5px; }
.PicSmallRight img{ width: 25px; height: auto;}


.EysPasswordBox{ position: relative}
.EysPasswordBox .EysPasswordClose{ margin: 0; padding: 0; display: block; position: absolute; width: 17px; height: 16px; right: 10px; top: 12px; background-image: url('../images/icon/icon-eye-close.svg'); background-size: contain; content: ''; cursor: pointer;}
.EysPasswordBox .EysPasswordOpen{ margin: 0; padding: 0; display: block; position: absolute; width: 20px; height: 14px; right: 10px; top: 12px; background-image: url('../images/icon/icon-eye-open.svg'); background-size: contain; content: ''; cursor: pointer;}
.SetPassword .EysPasswordBox .EysPasswordTop{ top: 32px;}
.SetPassword .EysPasswordBox .EysPasswordTop{ top: 32px;}
.CheckboxAccept input[type=checkbox]{ transform: scale(2); margin-top: 10px; float: left; width: 15px; text-align: left; }
.CheckboxAccept label{ width: 100%; }
.CheckboxAccept label span{ display: block; float: left; width: 80%; margin-left: 20px; }

.PopupCondition .LineTwo:before{ top: -5px!important;}

.MyPageTemplate .RightContent .FormBox .tox-toolbar__group .tox-tbtn{ margin-right: 5px!important; padding: 5px; background-color: #fff!important; border: 0; color: #000!important;}
.DelPicture{ padding: 5px 10px; background-color:#e53e3e; color: #fff; border-radius: 5px; padding: 5px; max-width: 100px; margin: auto!important; text-align: center; margin-top: 10px!important;}
.DelPicture a{ color: #fff;}
.DelPicture img{ width: 8px; margin: 0;}
.DelPicture2{ padding: 5px 10px; background-color:#e53e3e; color: #fff; border-radius: 5px; padding: 5px; max-width: 100px; text-align:center; margin-top: 10px!important;}
.DelPicture2 a{ color: #fff;}
.DelPicture2 img{ width: 8px; margin: 0;}

.CompanyList ul li{ min-height: 420px;}

/* PageError */
.PageError{ max-width: 600px; text-align: center; padding: 30px; margin: auto; margin-top: 40px; margin-bottom: 40px; background-color: #ffffd7; border-radius: 10px; border:1px solid #f2f2f2; }
.PageError .Title{ font-size: 25px; margin-top: -10px; margin-bottom: 5px;}
.PageError .NumberError{ font-size: 40px; margin-bottom: 0px;}
.PageError p{ margin: 0; padding: 0;}

.toast{ z-index: 99999999999999999999999999999!important; top: 50px!important;}

.JNTOEmail a{ color:#123; }

/* SellerInfoDetail */
.ContentBoxLeft .SellerInfoDetail{ font-family: 'Sarabun', sans-serif!important; font-size: 19px!important; font-weight: 300!important; }
.ContentBoxLeft .SellerInfoDetail p{ font-family: 'Sarabun', sans-serif!important; font-size: 19px!important; font-weight: 300!important; padding: 0px!important; margin: 0px 0px 20px 0px!important; }


/* -------------------------------------  1210px  ------------------------------------- */
@media(max-width:1200px)
{
    .AllMargin{ width: 95%;}

    .MemberHeader .ListBox{ padding-right: 10px; }
    .MemberHeader .ListBox ul li{ font-size: 15px; padding-right: 20px; }

    /* HeaderLogo */
    .HeaderLogo span{ margin-left: -10px; font-size: 18px; }

    /* BannerandEvent */
    .BannerandEvent{  max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox{ margin-left: 40px; margin-right: 40px; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo ul li .PictureDisplayRe{ width: auto; height: 190px; }

    /* CategoryToppicBox */
    .ToppageLastToppicBox{max-width: auto; margin-left: 40px; margin-right: 40px; padding: 0;}
    .ToppageLastToppic .CategoryToppicBox{  max-width: auto; margin-left: 40px; margin-right: 40px; }
    .ToppageLastToppicPage{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    .ContentBoxLeft .SellerInfoDetail{ font-size: 18px!important; }
    .ContentBoxLeft .SellerInfoDetail p{ font-size: 18px!important; }

    /* ToppageSearchBox */
    .ToppageSearchBox{ max-width: auto; margin-left: 40px; margin-right: 40px; padding: 0; }

}

/* -------------------------------------  1023px  ------------------------------------- */
@media(max-width:1023px)
{
    /* mobile-menu-LeftSide */
    .mobile-menu-LeftSide {  position: fixed; /*display: flex;*/ align-items: center; justify-content: flex-end; padding: 0px; top: 65px; background-color: #fff; left: 0; right: 0; width: 100%; height: 55px; z-index: 9999999; border-bottom: 0px solid #b78d6b; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
    .mobile-menu-LeftSide__btn { position: relative; display: flex; align-items: center; justify-content: center; width: 60px; height: 55px; padding-right: 15px; padding-left:15px; border-right: 1px solid #c3c3c3; /*background-color: #fff;*/ cursor: pointer; transition: .4s; z-index: 99999999; }
    .mobile-menu-LeftSide__icon { display: block;  position: relative; background: #202f55; width: 40px; height: 2px; transition: .4s; }
    .mobile-menu-LeftSide__icon::after, .mobile-menu-LeftSide__icon::before { content: ""; display: block; position: absolute; background: #202f55; width: 100%; height: 2px; transition: .4s; }
    .mobile-menu-LeftSide__icon::after { top: 8px; }
    .mobile-menu-LeftSide__icon::before { top: -8px; }
    .mobile-menu-LeftSide__checkbox { display: none; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn { border-right: 0px; background-color: #12224a; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__container { left: 0; width: 320px; padding: 70px 20px 80px 20px; height: 100%; background-color: #202f55; border-right: 5px solid #b78d6b; transition-delay: 0s; overflow-y: scroll; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn .mobile-menu-LeftSide__icon { background: transparent; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn .mobile-menu-LeftSide__icon::before, .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn .mobile-menu-LeftSide__icon::after { top: 0; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn .mobile-menu-LeftSide__icon::after { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); background-color: #fff; }
    .mobile-menu-LeftSide__checkbox:checked ~ .mobile-menu-LeftSide__btn .mobile-menu-LeftSide__icon::before { transform: rotate(45deg); -webkit-transform: rotate(45deg); background-color: #fff; }
    .mobile-menu-LeftSide__container { position: fixed; top: 65px; left: -350px; z-index: 999; height: 100%; padding-top: 60px; opacity: 1; transition: .2s; transition-delay: 0s; overflow: hidden; }

    /* MyPageTemplate */
    .MyPageTemplate .LeftMenu{ width: auto; float: none; left: -400px; }
    .MyPageTemplate .RightContent{ width: 90%; margin: auto; float: none; padding-top: 10px; }

    /* BannerandEvent */
    .BannerandEvent{ width: 90%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; }

    .AllMargin{ width: 100%; height: 60px; overflow: hidden; }
    /* MemberHeader */
    .MemberHeader{ right: 70px;}
    .MemberHeader .ListBox{display: none;}
    .MemberHeader .TopEmail{ display: none; }

    /* ToolsPanel */
    .ToolsPanel{ width: calc(100% - 60px); box-shadow: 2px 2px 10px rgba(0,0,0,0); }
    .ToolsPanel .ToolsPanelBox{ margin-left: 20px; }

    /* OtherTemplate */
    .OtherTemplate{ margin-top: 80px;}

    /* RightContent */
    .RightContent .RegisterStep{ margin-top: 70px;}

    .MarGonTop70{ margin-top: 60px!important; }

    .RelatedCompanyInfo ul li .PictureDisplayRe{ width: auto; height: 160px; }

    /* ToppageLastToppicBox */
    .ToppageLastToppicBox{ width: 90%; margin: auto; }
    .ToppageLastToppicBox .EventDate{ font-size: 16px;}
    .ToppageLastToppicBox .NewsToppic{ font-size: 16px; }
    .ToppageLastToppicBox .Title{ font-size: 16px; line-height: 23px; margin-top: 10px; }
    .ToppageLastToppicBox .CompayandDate{ font-size: 15px;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) label{ margin-top: 12px; }

    /* CategoryToppicBox */
    .ToppageLastToppic .CategoryToppicBox{  width: 90%; margin: 0 auto;  }
    .ToppageLastToppicPage{  width: 90%; margin: 0 auto; }
    .MarginTop50{ margin-top: 50px;}
    .ToppageLastToppicBox .PartnerTopBox{ width: auto; float: none; padding:10px 0px;}
    .ToppageLastToppicBox .PictureEventList{ width: 100px; float: right; height: auto; margin-left: 20px; }
    .ToppageLastToppicBox .PictureEventList img{ width: auto; max-width: 100px; }
    .PartnerTopLock{ display: none;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span{ width: 40px; height: 40px;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span span{ width: 20px; height: 20px; }
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span img{ width: auto; max-width: 20px; max-height: 20px; }

    /* SellerInfo */
    .LastUpdate{ margin-bottom: 40px;}

     /* ToppageSearchBox */
     .ToppageSearchBox{ width: 90%; margin: auto; }

     .MenuSeller .MemberHeader { right: 80px;}
     .MenuSeller .MemberHeader .TopEmail {display: none!important;}

}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:768px)
{
    .BannerLockedNone{ display: none!important; }

    /* ToppageLastToppicPage */
    .ToppageLastToppicPage ul li{ width: auto; float: none; margin: 2% 0 0% 2%; padding-bottom: 15px; clear: both;}
    .ToppageLastToppicPage ul li:nth-child(odd){ margin-left: 0; clear: both;}

    /* FeatureSlideToppage */
    .FeatureSlideToppage{ width: 65%; }

    /* CalendarRight */
    .CalendarRight{ width: 35%;}
}

/* -------------------------------------  767px  ------------------------------------- */
@media(max-width:767px)
{
    /* HeaderRegister */
    .HeaderRegister{ width: 90%; margin: auto; margin-top: 30px; }
    .HeaderRegister h1{ font-size: 17px; }
    .HeaderRegister p{ font-size: 17px; }

    /* RegisterBox */
    .RegisterBox{ padding: 20px 20px; width: 90%; max-width: auto; }

    /* FooterRegister */
    .FooterRegister{ width: 90%; max-width: auto; margin: auto; margin-top: 20px; }

    /* Breadcrumb RegisterStep */
    .RegisterStep { width: 90%; margin-bottom: -25px;}
    .RegisterStepBC__title { display: none; }
    .RegisterStepBC { height: 40px; min-width: 60px; font-size: 12px; }
    .RegisterStepBC a { padding-left: 25.3333333333px; line-height: 16px; }
    .RegisterStepBC a:last-child { padding-right: 0px; }
    .RegisterStepBC br{ display: block;}
    .RegisterStepBC a:after { content: ""; width: 40px; height: 40px; right: -20px; transform: scale(0.707) rotate(45deg); }

    /* RightContent */
    .RightContent .RegisterStep { width: auto; margin-bottom: -25px; margin-top: 50px;}
    .RightContent .RegisterBox{ width: auto; }

    /* ToppageLastToppicBox */
    .ToppageLastToppicBox{ width: 90%; margin: auto; }
    .ToppageLastToppicPage{  width: 90%; margin: 0 auto; }

    /* TippicBox */
    .ContentBoxLeft .TippicBox .Descriptions{ font-size: 17px!important; }
    .ContentBoxLeft .TippicBox .Descriptions p{ font-size: 17px!important; }

    /* Seller info Photo V2 */
    #gal-results.containerPhotoSlide #gallery-view #gal-slide { float: left; width: calc(100% - 165px); }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 400px; }
    #gal-results.containerPhotoSlide #gallery-thumbs{ width: calc(100% - 710px); min-width: 140px; height: 400px;}
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 90px; margin: 0 0 14px 0;}

    .ContentBoxLeft .SellerInfoDetail{ font-size: 17px!important; }
    .ContentBoxLeft .SellerInfoDetail p{ font-size: 17px!important; }
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:640px)
{
    /* FormBox */
    .MyPageTemplate .RightContent .FormBox{ font-size: 15px; }
    .MyPageTemplate .RightContent .FormList{ margin-top: 0px; }
    .MyPageTemplate .RightContent .FormList fieldset{ margin-top: 20px; }
    .MyPageTemplate .RightContent .FormList ul { padding:10px 20px;}
    .MyPageTemplate .RightContent .FormList ul li p{ margin-right: 20px; }
    .mb-2 label{ display:block; clear:both;  }

    .MyPageTemplate .RightContent .FilePDF .TextPDFName{ margin-bottom: 10px; }

    .MyPageTemplate .RightContent .MaterialURL ul li{ width: auto; clear: both; float: none; margin: 0px; margin-left: 0%; margin-right: 0%; padding: 0px; margin-bottom: 20px; }
    .MyPageTemplate .RightContent .MaterialURL ul li:nth-child(odd){ margin-bottom: 5px; }

    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox{ margin-right: 20px; }
    .ToolsPanel .ToolsPanelBox .SectionInfo{ float: right;}
    .ToolsPanel .ToolsPanelBox .ToolsAction{ float: none; width: 100%; left: 0; bottom: 0; position: fixed; padding: 10px; background-color: #fff; box-shadow: 2px 2px 10px rgba(0,0,0,0.5);}
    .ToolsPanel .ToolsPanelBox .ToolsAction p{ width: 32.3%; display: inline-block; text-align: center; margin: 0; padding: 0;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus span{ display: none;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview a{ display: block; padding: 5px 10px; width: 100%;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave button{ display: block; width: 100%;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .TopPicPage button{ width: 120px!important; margin: auto!important;}
    .ToolsPanel .ToolsPanelBox .ToolsAction p.TopPicPage{ width: 100%;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus{ width: auto; }

    /* Seller info Photo V2 */
    #gal-results.containerPhotoSlide #gallery-view #gal-slide { float: none; width:auto; }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 250px; }
    #gal-results.containerPhotoSlide #gallery-thumbs{ width: 100%; min-width: auto; max-width: 100%; float: none; height: 50px; margin-top: 10px;}
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 50px; margin: 0 5px; }

    /* BannerandEvent */
    .BannerandEvent{ display: block; }

    /* FeatureSlideToppage */
    .FeatureSlideToppage{ width: 100%; }

    /* CalendarRight */
    .CalendarRight{ width: 100%; height: auto; overflow: hidden; clear: both; padding: 0; margin: 0; background-color: #eaecec; margin-top: 40px;}
    .c-event-grid{ height: 180px!important; min-height: 180px!important; }
    .scroll{ height: 80%!important;}

    .ToppageLastToppicBox .EventTitle{ font-size: 16px; padding: 5px 20px 5px 20px;}
    .ToppageLastToppicBox .EventTitle:before{ width: 60px; height: 60px; top: -10px; margin-left: 110px; }
    .ToppageLastToppicBox .EventTitle span.FontSmall{ font-size: 13px; display: inline-block; height: 20px; margin-left: 5px; margin-right: 5px; }

    .ToppageSearchBox .SearchTitle{ font-size: 20px; }
    .ToppageSearchBox .SearchTitle span.FontSmall{ font-size: 16px; }

    .HeaderTopicPage{ font-size: 18px; margin-top: -5px; padding-top: 20px; }
    .HeaderTopicPage .BixTXT:before{ width: 60px; height: 60px; top: 0px; left: -60px;}
    .HeaderTopicPage .BixTXT:after{ width: 60px; height: 60px; top: 0px; right: -60px;}
    .HeaderTopicPage .BixTXT span.txt1{ font-size: 18px; }
    .HeaderTopicPage .BixTXT span.Sub{ font-size: 16px; height: 26px;}

}

/* -------------------------------------  600px  ------------------------------------- */
@media(max-width:600px)
{
    /* HeaderLogo */
    .HeaderLogo span{ display: none; }

    /* FooterYear2020+2021 */
    .YearsBox{ width: 40px!important;}
    .MBFont{ font-size: 14px; }

    .BTNBorderRa input[type=submit]{  font-size: 15px; }
}

/* -------------------------------------  500px  ------------------------------------- */
@media(max-width:500px)
{
    /* RegisterBox */
    .RegisterBox button{ font-size: 17px;}

    /* ThanksRegis */
    .ThanksRegis .Left{ width: auto; float: none; margin: 0px; min-width: auto; padding-top: 10px; text-align: center; margin-bottom: 20px; }
    .ThanksRegis .Right{ width:auto; float: none; margin: 0px;  }
    .ThanksRegis .Left img{ width: auto; max-width: 100%; max-width: 90px; }
    .DarkBlue19{  font-size: 17px!important; line-height: 25px!important; font-weight: 500; }
    .DarkBlue22{ font-size: 20px!important; line-height: 25px!important; }

    /* ToppageLastToppicBox */
    .ToppageLastToppicBox .PictureEventList{ width: 100px; }
    .ToppageLastToppicBox .PictureEventList img{ max-width: 100%;}
    .ToppageLastToppic h2{ font-size: 25px;}
    .ToppageLastToppic .Captions span{ font-size: 20px; padding-top: 1px; }
    .ToppageLastToppic .Captions span:after{ width: 30px;}
    .ToppageLastToppic .Captions{ font-size: 25px;}
    .MarginTop50{ margin-top: 30px;}

    /* TippicBox */
    .ContentBoxLeft .TippicBox .Title{ font-size: 19px; }
    .ContentBoxLeft .TippicBox .Descriptions{ font-size: 16px!important; }
    .ContentBoxLeft .TippicBox .Descriptions p{ font-size: 16px!important; }
    .ContentBoxLeft .TippicBox .ToppicType img{ width: 100px;}
    .ContentBoxLeft .TippicBox .ToppicType{ font-size: 16px; }

    /* PrivacyClass */
    .MyPageTemplate .RightContent .PrivacyClass{ margin: 0;}
}

/* -------------------------------------  480px  ------------------------------------- */
@media(max-width:480px)
{
     /* FormBox */
    .MyPageTemplate .RightContent .FormBox{ font-size: 13px; }
    .MyPageTemplate .RightContent .FormList fieldset{ margin-top: 15px; }
    .MyPageTemplate .RightContent .FormList ul { padding:10px 15px;}
    .MyPageTemplate .RightContent .FormList ul li p{ margin-right: 10px; }
    .MyPageTemplate .RightContent .FormList ul .FontHead{ font-size: 15px; }
    .MyPageTemplate .RightContent .FormBox button{ display: inline-block; min-width: 250px; margin-bottom: 10px; }
    .MyPageTemplate .RightContent .FormList ul li select{ clear: both; width: 100%; }
    .MyPageTemplate .RightContent .FileList ul li{ float: none; width: auto; margin: 0px; padding: 10px 0px; margin-bottom: 10px; text-align: left; }

    /* ProvinceRegionList */
    .MyPageTemplate .RightContent .ProvinceRegionList ul li{ margin: 10px 0px 20px 0px; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion{ float: none; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion:after{ right: auto; margin-left: 10px; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .RightRegion{ float: none; width: auto; margin-left: 10px; }

    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox .TemplateTools .Left label{ margin-left: 5px;}

    /* OthersPage */
    .MyPageTemplate .RightContent .OthersPage fieldset legend{ font-size: 16px;}
    .MyPageTemplate .RightContent .OthersPage .OthersPageBox{ padding: 10px;}

    /* RowsLR */
    .RowsLR{ margin-bottom: 10px;}
    .RowsLR p:nth-child(1){  width:auto; max-width:100%; float: none; }
    .RowsLR p:nth-child(2){ width: auto; float: none; }

    .BTNBorderRa input[type=submit]{  font-size: 13px; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo ul li .PictureDisplayRe{ width: auto; height: 220px; }

    /* ToppageLastToppicBox */
    .ToppageLastToppicBox{ padding: 0px 0px 0px 0px; }
    .ToppageLastToppicBox ul li{ margin-left: -20px; /*margin-right: -10px; padding-left: 5px;*/ padding-right: 15px;}
    .ToppageLastToppicBox .PartnerTop{ min-height: 240px; padding:14px 0px; }
    .ToppageLastToppicBox .PartnerTail{ min-height: 240px; padding:14px 0px; }
    .ToppageLastToppicBox .PartnerTopBox{ padding: 10px 0;}
    .ToppageLastToppicBox .PictureEventList{ width: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; }
    .ToppageLastToppicBox .PictureEventList img{ max-width: 80px; }
    .ToppageLastToppicBox .EventTitle{ margin-right: 15px; /*font-size: 25px;*/}
    .ToppageLastToppicBox .EventDate{ margin-left: 20px; font-size: 12px; padding-top: 3px;}
    .ToppageLastToppicBox .Title{ margin-left: 20px; font-size: 13px; font-weight: 400; line-height: 19px;}
    .ToppageLastToppicBox .CompayandDate{ margin-left: 20px;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1){ width: auto; float: none;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) label{ padding-top: 10px; font-size: 14px; }
    .ToppageLastToppicBox .CompayandDate p:nth-child(2){ width: auto; float: none; text-align: right;}
    .ToppageLastToppicBox .BannerLocked{  padding-right: 5px!important; padding-left: 25px; }

    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span{ width: 40px; height: 40px;}
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span span{ width: 20px; height: 20px; }
    .ToppageLastToppicBox .CompayandDate p:nth-child(1) span img{ width: auto; max-width: 20px; max-height: 20px; }
    .ToppageLastToppicBox .CompayandDate p:nth-child(2){ font-size: 13px; margin-top: 0; padding-top: 0;}


    /* ToppageLastToppicPage */
    .ToppageLastToppicPage{ padding: 0;}
    .ToppageLastToppicPage ul li{ margin: 0px!important; padding: 15px 0!important; }
    .ToppageLastToppicPage ul li .EventDate{ margin-left: 0px;}
    .ToppageLastToppicBox .NewsToppic{ font-size: 14px; padding-top: 3px; }
    .ToppageLastToppicPage ul li .Title{ margin-left: 0px;}
    .ToppageLastToppicPage ul li .CompayandDate{ margin-left: 0px;}

    /* CategoryToppicBox */
    .ToppageLastToppic .CategoryToppicBox li{ margin-right: 0px; }
    .ToppageLastToppic .CategoryToppicBox li a{ padding: 4px 20px; }
    .ToppageLastToppic .CategoryToppicBox li.ToppicEvent a{  padding: 4px 20px 4px 40px; }
    .ToppageLastToppic .CategoryToppicBox li.ToppicEvent a:before{ left: 16px; top: 7px;}
    .ToppageLastToppic .CategoryToppicBox li.ToppicNews a{  padding: 4px 20px 4px 40px; }
    .ToppageLastToppic .CategoryToppicBox li.ToppicNews a:before{ left: 16px; top: 8px;}

    .HeaderTopicPage{ font-size: 14px; margin-top: -5px; padding-top: 20px; }
    .HeaderTopicPage .BixTXT:before{ width: 40px; height: 40px; top: 0px; left: -50px;}
    .HeaderTopicPage .BixTXT:after{ width: 40px; height: 40px; top: 0px; right: -50px;}
    .HeaderTopicPage .BixTXT span.txt1{ font-size: 14px; }
    .HeaderTopicPage .BixTXT span.Sub{ font-size: 14px; height: 22px; margin-top: 0;}

    .PopupCondition .LineTwo:before{ top: 20px!important;}

    .ContentBoxLeft .SellerInfoDetail{ font-size: 16px!important; padding-bottom: 30px!important; margin-bottom: 30px!important; }
    .ContentBoxLeft .SellerInfoDetail p{ font-size: 16px!important; padding-bottom: 30px!important; margin-bottom: 30px!important; }
}