/* FormBox */
.MyPageTemplate .RightContent .FormBox{ background-color: #fff; box-shadow: 2px 2px 10px rgb(0 0 0 / 0%); padding: 0px; border-radius: 0px; }
.MyPageTemplate .RightContent .FormBox{ width: auto; height: auto; max-width: 800px; margin: auto; margin-top: 20px; margin-bottom: 20px; }
.MyPageTemplate .RightContent .FormBox h2{ text-align: center; text-transform: uppercase; }
.MyPageTemplate .RightContent .FormList{ margin-top: 20px;}
.MyPageTemplate .RightContent .FormList fieldset{ border-radius: 15px; border: 1px solid #eee; margin-bottom: 0px; }
.MyPageTemplate .RightContent .FormList fieldset legend{ padding-left: 10px; padding-right: 10px; font-size: 20px; font-weight: bold; margin-left: 15px; color: #ffa32f; }
.MyPageTemplate .RightContent .FormList ul { padding:20px;}
.MyPageTemplate .RightContent .FormList ul li{ clear: both; width: auto; height: auto; padding: 20px 0px; overflow: auto; }
.MyPageTemplate .RightContent .FormList ul li:last-child{ border-bottom: 0px; }
.MyPageTemplate .RightContent .FormList ul li p{ width: auto; margin: 0px; margin-top: 0px; margin-bottom: 5px; margin-right: 30px; }
.MyPageTemplate .RightContent .FormList ul li p.FloatLeft{ float: left; margin-top: 6px; }
.MyPageTemplate .RightContent .FormList ul li input[type=text]{ display: block; outline:none; width: 100%; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li input[type=email]{  display: block; outline:none; width: 100%; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li textarea{ display: block; outline:none; width: 100%; min-height: 80px; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.MyPageTemplate .RightContent .FormList ul li select{ display: block; outline:none; padding: 10px 30px 10px 10px; border-radius: 5px; border:1px solid #ccc;-webkit-appearance: none; -moz-appearance: none; background: transparent; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; background-position-x: 100%; background-position-y: 0px;}
.MyPageTemplate .RightContent .FormList ul li input[type=file]{ outline:none; margin-top: 0px; }
.MyPageTemplate .RightContent .BTNList{ text-align: center; margin-top: 50px; }
.MyPageTemplate .RightContent .FormBox button { position: relative; outline:none; cursor: pointer; background-color: #30a9b0; border:1px solid #30a9b0; color: #fff; letter-spacing: 1px; padding: 10px 30px 10px 30px; border-radius: 5px; font-size: 16px; font-weight: 600; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: all .3s; }
.MyPageTemplate .RightContent .FormBox button:hover{ background-color: #b1eae9; border:1px solid #30a9b0; color: #123; transition: all .3s; }
.MyPageTemplate .RightContent .FormBox button.EditClass{ background-color: #ffa32f; border:1px solid #ffa32f; }
.MyPageTemplate .RightContent .FormBox button:hover.EditClass{ background-color: #ffe7a8; color: #123; }
.MyPageTemplate .RightContent .FormBox button.ConfirmClass{ background-color: #2daf68; border:1px solid #2daf68; }
.MyPageTemplate .RightContent .FormBox button:hover.ConfirmClass{background-color: #c7f4c7; color: #123; }
.MyPageTemplate .RightContent .FormBox button.SubmitClass{ background-color: #2daf68; border:1px solid #2daf68; }
.MyPageTemplate .RightContent .FormBox button:hover.SubmitClass{background-color: #c7f4c7; color: #123; }
.MyPageTemplate .RightContent .NeedRed{ color: red; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal{ font-weight: 300; }
.MyPageTemplate .RightContent .FormList ul li p span.FontNormal{ line-height: 21px; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal2{ font-weight: 300; font-size: 12px; color: #999; }
.MyPageTemplate .RightContent .FormList ul li span.FontNormal3{ font-weight: 300; font-size: 12px; line-height: 15px; }
.MyPageTemplate .RightContent .FormList ul li p span.FontNormal2{ line-height: 18px!important; }
.MyPageTemplate .RightContent .FormList ul .FontHead{ font-size: 20px; text-align: left; padding-top: 50px; margin-bottom: 0px; }
.MyPageTemplate .RightContent .FileList ul{ margin: 0px!important; padding: 0px!important; list-style: none; }
.MyPageTemplate .RightContent .FileList ul li{ width: 32%; clear: none; float: left;margin: 0px; margin-left: 1%; margin-right: 1%; padding: 10px; text-align: center; overflow: hidden; }
.MyPageTemplate .RightContent .FileList ul li:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .FileList ul li:last-child{ margin-right: 0px; }
.MyPageTemplate .RightContent .LabelProvince label{ display: inline-block; margin-left: 10px; font-weight: 300; }
.MyPageTemplate .RightContent .LabelProvince label:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .LabelLang label{ display: inline-block; margin-left: 10px; font-weight: 300; }
.MyPageTemplate .RightContent .LabelLang label:first-child{ margin-left: 0px; }
.MyPageTemplate .RightContent .LabelLang .TXTOthers{ width: auto; margin-left: 10px; }
.MyPageTemplate .RightContent .LabelMarTop label{ display: inline-block; line-height: 35px; margin-left: 10px; font-weight: 300;}
.MyPageTemplate .RightContent .FontNormalStyle{ font-weight: 300; }
.MyPageTemplate .RightContent .BIT{ display: none; }
.MyPageTemplate .RightContent .InsentiveID{ display: none; }
.MyPageTemplate .RightContent .FilePDF{ width: 100%; }
.MyPageTemplate .RightContent .FilePDF .TextPDFName{ outline:none; /*width: 100%!important;*/ margin-top: 5px; }
.MyPageTemplate .RightContent .TextPDFName{ outline:none; /*width: 100%!important;*/ margin-bottom: 10px; margin-top: 5px; }
.MyPageTemplate .RightContent .FilePDF label{ display: inline-block; margin: 0px; margin-right: 10px; padding: 0px; }
.MyPageTemplate .RightContent .MaterialURL{ margin-top: 10px; }
.MyPageTemplate .RightContent .MaterialURL ul{ margin: 0px!important; padding: 0px!important; list-style: none; }
.MyPageTemplate .RightContent .MaterialURL ul li{ width: 48%; clear: none; float: left;margin: 0px; margin-left: 1%; margin-right: 1%; padding: 0px; margin-bottom: 10px; text-align: left; overflow: hidden; font-size: 14px; font-weight: 300; }
.MyPageTemplate .RightContent .MaterialURL ul li:nth-child(odd){ margin-left: 0px; margin-right: 0px; }
.MyPageTemplate .RightContent .MaterialURL ul li span{ padding-left: 5px; }
.MyPageTemplate .RightContent .MaterialURL ul li select{ width: 100%; background-color: #fff; display: block; outline:none; padding: 10px 30px 10px 10px; border-radius: 5px; border:1px solid #ccc;-webkit-appearance: none; -moz-appearance: none; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; background-position-x: 100%; background-position-y: 0px;}
.MyPageTemplate .RightContent .RadioBox input[type='radio'] { transform: scale(1.5); margin-right: 5px; }
.MyPageTemplate .RightContent .RadioBox label{ clear: both; display: block!important;}
#Section1{ display: block;padding-top: 40px;}
#Section2{ display: block;padding-top: 40px;}
#Section3{ display: block;padding-top: 40px;}
#Section4{ display: block;padding-top: 40px;}
#TopicCheck{ display: none;}
.StyleMP0{ margin: 0px!important; padding-top: 0!important; padding-bottom: 0!important;}
.StyleMP0 li{ padding: 15px 0px!important;}
.TxtBoxDate{ width: 150px!important; display: block; clear: both;}


.MyPageTemplate .RightContent .FormBox .ThanksPageDisplay{ height: auto; margin: auto; margin-top: 60px; font-size: 18px; text-align: center;}

.MyPageTemplate .RightContent .ProvinceRegionList ul{ margin: 0px!important; padding:0px!important; overflow: auto; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li{ margin: 10px 0px; padding: 0px; font-weight: 300; overflow:auto; clear: both; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion{ width: calc(100% - 670px); min-width: 130px; float: left; padding-right: 20px; position: relative; text-align: left; font-size: 15px; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion:after{ position: absolute; right: 0; top: 10px; width: 10px; height: 1px; background-color: #123; content: ''; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li .RightRegion{  width: calc(100% - 150px); float: right; font-size: 14px; }
.MyPageTemplate .RightContent .ProvinceRegionList ul li label{ display: inline-block; margin-right: 10px; margin-left: 0px; font-weight: 300; }

.MyPageTemplate .RightContent .ClassFilePDFLeft{ width: 120px;}

/* PrivacyClass */
.MyPageTemplate .RightContent .PrivacyClass{ height: 165px; margin: 20px; font-size: 14px; padding: 5px 20px; background-color: #fff; overflow: scroll; font-size: 14px; }
.MyPageTemplate .RightContent .PrivacyClass p{ margin: 14px 0px;}

/* ToolsPanel */
.ToolsPanel{ width: calc(100% - 340px); /*left:340px;*/ right: 0; background-color: #fff; height: 55px; position: fixed; z-index: 999; top: 65px; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
.ToolsPanel .ToolsPanelBox{ width: auto; max-width: 800px; margin: auto; margin-top: 12px; overflow:auto; text-align: left; }
.ToolsPanel .ToolsPanelBox .SectionInfo{ float: left; text-align: left;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul{ margin: 0; padding: 0;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li{ display: inline-block; width: 33px; height: 33px; line-height: 30px; text-align: center; border-radius: 100px; border:1px solid #dfdfdf; font-weight: 500; }
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(1){ background-color: #ffffd7; color: #ff9d45;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(1) a{ color: #ff9d45; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(2){ background-color: #e6ffe1; color: #51a001;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(2) a{ color: #51a001; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(3){ background-color: #e0ebff; color: #879cff;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(3) a{ color: #879cff; display: block;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(4){ background-color: #e6e6ff; color: #8067b8;}
.ToolsPanel .ToolsPanelBox .SectionInfo ul li:nth-child(4) a{ color: #8067b8; display: block;}
.ToolsPanel .ToolsPanelBox .ToolsAction{ float: right; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; }
.ToolsPanel .ToolsPanelBox .ToolsAction p{ display: inline-block; margin: 0; padding: 0 0 0 8px;}
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview a{ background-color: #6880d5; color: #fff; padding: 7px 10px; }
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview img{ width: 16px; height: auto; vertical-align: middle;}
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave button{ background-color: #38979d; color: #fff; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; border:0px; padding: 7px 10px; cursor: pointer; }
.ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave img{ width: 12px; height: auto; vertical-align: middle;}
.ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus select{ display: inline-block; outline:none; padding: 6px 30px 6px 10px; border:1px solid #80807f;-webkit-appearance: none; -moz-appearance: none; background: transparent; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; background-position-x: 100%; background-position-y: 0px; }
.ToolsPanel .ToolsPanelBox .TemplateTools{ width: auto;}
.ToolsPanel .ToolsPanelBox .TemplateTools p{ margin: 0; padding: 0;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left{ float: left;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left{ margin: 0; margin-top: 5px;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left label{ display: inline-block; margin-left: 10px;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Left input[type='radio'] { transform: scale(1.2); }
.ToolsPanel .ToolsPanelBox .TemplateTools .Right{ float: right;}
.ToolsPanel .ToolsPanelBox .TemplateTools .Right button{ background-color: #38979d; color: #fff; font-family: 'M PLUS 1p', sans-serif; font-size: 15px; border:0px; padding: 7px 10px; cursor: pointer; }
.ToolsPanel .ToolsPanelBox .TemplateTools .Right img{ width: 12px; height: auto; vertical-align: middle;}

/* FileUploadCSS */
.FileUploadCSS { width: 120px; padding: 6px 10px; border-radius: 5px; font-size: 15px; overflow: hidden; position: relative; cursor: pointer; background-color: #4b8df7; color: #fff; }
.FileUploadCSS:hover { background-color: blue; }
.FileUploadCSS input[type=file] { width: 0px; cursor: pointer; position: relative; top: 0; right: 0; z-index: 99; font-size: 20px;  opacity: 0; -moz-opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* OthersPage */
.MyPageTemplate .RightContent .OthersPage{ margin-top: 60px;}
.MyPageTemplate .RightContent .OthersPage fieldset{ border-radius: 15px; border: 1px solid #837a5e; margin-bottom: 0px; }
.MyPageTemplate .RightContent .OthersPage fieldset legend{ padding-left: 10px; padding-right: 10px; font-size: 17px; font-weight: 500; margin-left: 15px; color: #a6806b; }
.MyPageTemplate .RightContent .OthersPage label{ display: inline-block; margin-left: 10px;}
.MyPageTemplate .RightContent .OthersPage .OthersPageBox{ padding: 30px;}
.MyPageTemplate .RightContent .OthersPage input[type='radio'] { transform: scale(1.2); }
.MyPageTemplate .RightContent .OthersPage .DescriptionsBox{ margin-top: 20px; margin-bottom: 20px; font-family: 'M PLUS 1p', sans-serif; font-size: 15px;}

@media(max-width:1210px)
{
    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox{ margin-left: 40px; margin-right: 40px; }
}

@media(max-width:1023px)
{
    /* ToolsPanel */
    .ToolsPanel{ width: calc(100% - 60px); box-shadow: 2px 2px 10px rgba(0,0,0,0); }
    .ToolsPanel .ToolsPanelBox{ margin-left: 20px; }
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:640px)
{
    /* FormBox */
    .MyPageTemplate .RightContent .FormBox{ font-size: 15px; }
    .MyPageTemplate .RightContent .FormList{ margin-top: 0px; }
    .MyPageTemplate .RightContent .FormList fieldset{ margin-top: 20px; }
    .MyPageTemplate .RightContent .FormList ul { padding:10px 20px;}
    .MyPageTemplate .RightContent .FormList ul li p{ margin-right: 20px; }
    .mb-2 label{ display:block; clear:both;  }

    .MyPageTemplate .RightContent .FilePDF .TextPDFName{ margin-bottom: 10px; }

    .MyPageTemplate .RightContent .MaterialURL ul li{ width: auto; clear: both; float: none; margin: 0px; margin-left: 0%; margin-right: 0%; padding: 0px; margin-bottom: 20px; }
    .MyPageTemplate .RightContent .MaterialURL ul li:nth-child(odd){ margin-bottom: 5px; }

    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox{ margin-right: 20px; }
    .ToolsPanel .ToolsPanelBox .SectionInfo{ float: right;}
    .ToolsPanel .ToolsPanelBox .ToolsAction{ float: none; width: 100%; left: 0; bottom: 0; position: fixed; padding: 10px; background-color: #fff; box-shadow: 2px 2px 10px rgba(0,0,0,0.5);}
    .ToolsPanel .ToolsPanelBox .ToolsAction p{ width: 32.3%; display: inline-block; text-align: center; margin: 0; padding: 0;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .SelectStatus span{ display: none;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .BTNPreview a{ display: block; padding: 5px 10px; width: 100%;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .BTNSave button{ display: block; width: 100%;}
    .ToolsPanel .ToolsPanelBox .ToolsAction .TopPicPage button{ width: 120px!important; margin: auto!important;}
    .ToolsPanel .ToolsPanelBox .ToolsAction p.TopPicPage{ width: 100%;}
}

/* -------------------------------------  500px  ------------------------------------- */
@media(max-width:480px)
{
     /* FormBox */
    .MyPageTemplate .RightContent .FormBox{ font-size: 13px; }
    .MyPageTemplate .RightContent .FormList fieldset{ margin-top: 15px; }
    .MyPageTemplate .RightContent .FormList ul { padding:10px 15px;}
    .MyPageTemplate .RightContent .FormList ul li p{ margin-right: 10px; }
    .MyPageTemplate .RightContent .FormList ul .FontHead{ font-size: 15px; }
    .MyPageTemplate .RightContent .FormBox button{ display: inline-block; min-width: 250px; margin-bottom: 10px; }
    .MyPageTemplate .RightContent .FormList ul li select{ clear: both; width: 100%; }
    .MyPageTemplate .RightContent .FileList ul li{ float: none; width: auto; margin: 0px; padding: 10px 0px; margin-bottom: 10px; text-align: left; }

    /* ProvinceRegionList */
    .MyPageTemplate .RightContent .ProvinceRegionList ul li{ margin: 10px 0px 20px 0px; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion{ float: none; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .LeftRegion:after{ right: auto; margin-left: 10px; }
    .MyPageTemplate .RightContent .ProvinceRegionList ul li .RightRegion{ float: none; width: auto; margin-left: 10px; }

    /* ToolsPanel */
    .ToolsPanel .ToolsPanelBox .TemplateTools .Left label{ margin-left: 5px;}
}
