/* -------------------------------------  1500px  ------------------------------------- */
@media(max-width:1500px)
{

}

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1366px)
{
    /* ToppageCompanyInfo */
    .ToppageCompanyInfo{ background-size: contain; }
}

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1200px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: auto; height: 60px; font-size: 22px; margin-left: 40px; }

    /* Header */
    .Header{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .HeaderBoxLeft{ width: 300px; }
    .HeaderBoxRight{ width: auto; }

    /* Breadcrumbs */
    .Breadcrumbs{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBox */
    .ContentBox{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBoxFull */
    .ContentBoxFull{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* ContentBoxLeft */
    .ContentBoxLeft h1{ font-size: 30px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 18px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 18px; }
    .NewsTitle{ font-size: 35px; margin-top: 0px; }

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ font-size: 35px; }

    /* SearchForm */
    .SearchFormBox{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .FormBoxLeft{ width: 55%; }
    .FormBoxRight{ width: 43%; }
    .FormBoxRight .KeywordS{ margin-top: 10px; }
    .FormBoxRight .KeywordS input[type=text]{ padding: 6px 6px 6px 40px; }
    .FormBoxRight .KeywordS:before{ width: 20px; height: 20px; top: 10px; left: 10px; }
    .FormBoxRight .SupportMenuListSearch{ margin-top: 10px; }
    .FormBoxRight .SupportMenuListSearch select{ padding: 10px 0px 10px 40px; }
    .FormBoxRight .SupportMenuListSearch:before{ width: 20px; height: 20px; top: 10px; left: 10px; }
    .FormBoxRight .BusinessTypeList .BType{ margin-bottom: 10px; }
    .FormBoxRight .BusinessTypeList ul li{ line-height: 22px; }
    .BTNSearchPage{ text-align: center; clear: both; margin-top: -50px; }
    .BTNSearchPage button{ font-size: 25px; max-width: 300px; margin-top: 10px; }
    .BTNSearchPage button img{ width: 20px; }

    /* Footer */
    .Footer{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .FooterBoxLeft{ width: 300px; }
    .FooterBoxRight{ width: 450px; }

    /* SeminarPage */
    .SeminarPageBox{ max-width: auto; margin-left: 40px; margin-right: 40px; height: 400px; }
    .SeminarPage h2{ font-size: 30px; }
    .SeminarPageBoxLeft{ float: left; width: 65%; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 400px; }
    .SeminarPageBoxRight{ float: left; width: 35%;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 25px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 30px; line-height: 38px; font-weight: 400; }
    /* SeminarPageList */
    .SeminarPageList ul{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .SeminarPageList ul li{ min-height: 350px;}
    .SeminarPageList .TitleToppage span{ max-width: auto; margin-left: 40px; margin-right: 40px; }

    /* FeatureToppage */
    .FeatureToppageRightBox{ padding-top: 40px; margin-left: 20px; }
    .FeatureToppageRightBox h1{ font-size: 23px; }
    .FeatureToppageRightBox h1 span{ display: block; }

    /* AnchorToppage */
    .AnchorToppage{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .AnchorToppage ul li{ margin: 0px 5px; font-size: 17px;  }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: 150px; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: 150px; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 10px 10px 10px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 50px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 10px; }

    /* TopPageLink */
    .TopPageLink .TitleLink{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .TopPageLink .CategoryBoxTP{ max-width: auto; margin-left: 40px; margin-right: 40px; }
    .TopPageLink .CategoryBoxTP ul li{ min-height: 260px; font-size: 15px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{  padding: 20px 15px 15px 60px; }

    /* NewsTopPage */
    .NewsTopPage{ max-width: auto; margin-left: 40px; margin-right: 40px; margin-top: 30px; margin-bottom: 50px; }
    .NewsTopPageLeft .NewsTopPageLeftHead{ height: 65px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li{ width: 49%; height: 72px; background-size: cover; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li.Active a{ height: 72px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ display: block; color: #bbbbbb; padding: 15px 20px; font-size: 16px; font-weight: 500; }

    /* LogoTail */
    .TailLogoandLinkBox{ max-width: auto; margin-left: 40px; margin-right: 40px; }
}

/* -------------------------------------  1023px  ------------------------------------- */
@media(max-width:1023px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: 87%; margin: auto; }

    /* Header */
    .Header{ width: 90%; margin: 0 auto; }
    .HeaderBoxRight{ width: auto; }

    /* Breadcrumbs */
    .Breadcrumbs{ width: 90%; margin: 0 auto; }

    /* ContentBox */
    .ContentBox{ width: 90%; margin: 0 auto; margin-top: 20px;}

    /* ContentBoxFull */
    .ContentBoxFull{ width: 90%; margin: 0 auto; margin-top: 20px;}

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ margin: auto; font-size: 35px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ margin-top: 10px; }
    .NewsTitle{ font-size: 30px; margin-top:0px; padding-top: 0px; line-height: 38px; margin-top: -20px; }

    /* SupportMenuMobile */
    .SupportMenuMobile{ display: block; }

    /* SupportMenuMobilePartner */
    .SupportMenuMobilePartner{ display: block; }

    /* SupportMenuPC */
    .SupportMenuPC{ display: none; }

    /* ContentBoxLeft */
    .ContentBoxLeft{ width: auto; float: none; border-right: 0px solid #eee; margin-top: 30px; }
    .ContentBoxLeft .OthersLinkList{ padding-bottom: 0px; margin-bottom: 0px; }

    /* ContentBoxRight */
    .ContentBoxRight{ width: auto; height: auto; float: none; max-width: 100%; margin-top: 0px; clear: both; overflow: auto; }
    .ContentBoxRight .NewsBannerRight{ margin: auto; max-width: 300px; margin-top: 30px; }

    /* Footer */
    .Footer{ width: 90%; margin: 0 auto; padding-bottom: 60px; }
    .FooterBoxRight{ width: auto; margin-top: 0px; }

    /* CompanyList */
    .CompanyList ul li .PictureDisplay{ height: 150px; }
    .CompanyList ul li .RightCaptions .Title{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .CompanyName{ font-size: 18px; }
    .CompanyList ul li .RightCaptions .ProvinceDisplay{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .ProvinceDisplay:before{ top: 0px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay{ font-size: 15px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay:before{ top: 0; }

    /* SearchForm */
    .SearchFormBox{ width: 90%; margin: 0 auto; }
    .FormBoxLeft{ width: auto; float: none; margin-bottom: 20px; }
    .FormBoxRight{ width: auto; float: none; }
    .FormBoxRight .KeywordS{ margin-top: 20px; }
    .FormBoxRight .SupportMenuListSearch{ margin-top: 20px; }

    /* NewsBox */
    .NewsBoxBGBlur ul{ width: 90%; margin: auto; margin-top: 0px; }
    .NewsBox{ width: 90%; margin: auto; margin-top: 20px; }
    .NewsBoxBGBlur ul li{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li a{ padding: 13px 20px 10px 25px; }

    /* SeminarPage */
    .SeminarPageBox{ width: 90%; margin: 0 auto; margin-top: 20px; margin-bottom: 40px; height: 350px;  }
    .SeminarPage h2{ font-size: 25px; }
    .SeminarPageBoxLeft{ float: left; width: 60%; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 350px; }
    .SeminarPageBoxRight{ float: left; width: 40%;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 20px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 25px; line-height: 35px; font-weight: 400; }
    .SeminarPageBoxRight .DisplayDate{ font-size: 14px; }
    /* SeminarPageList */
    .SeminarPageList{ padding: 40px 0px; }
    .SeminarPageList ul{ width: 90%; margin: 0 auto; margin-top: 20px; }
    .SeminarPageList ul li{ width: 48%; min-height: 400px; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 15px; min-height: 65px; }

    /* FeatureToppage */
    .FeatureToppage{ min-height: 350px; }
    .FeatureToppageLeft{ height: 350px; }
    .FeatureToppageRightBox{ margin-top: 20%; padding-top: 0px; margin-left: 20px; background-size: 100%; }
    .FeatureToppageRightBox h1{ font-size: 20px; }
    .FeatureToppageRightBox h1 span{ display: inline-block; }

    /* ToppageCompanyInfo */
    .ToppageCompanyInfo{ margin-top: 0px; }
    .ToppageCompanyInfoBox{ width: 90%; margin: auto; }
    .ToppageCompanyInfo{ background-size: contain; background-position: center center; }

    /* TopPageLink */
    .TopPageLink .TitleLink{ width: 90%; margin: auto; margin-bottom: 20px; }
    .TopPageLink .TitleLink h2{ font-size:30px; }
    .TopPageLink .TitleLink span{ font-size: 30px;}
    .TopPageLink .CategoryBoxTP h3{ margin-bottom: 0px; }
    .TopPageLink .CategoryBoxTP{ width: 90%; margin: auto; margin-bottom: 40px; }
    .TopPageLink .CategoryBoxTP ul li{ min-height: auto; width: 32%; font-size: 15px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 100px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:2%; margin-left: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ margin-left: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right: 0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left: 0px; }

    /* NewsTopPage */
    .NewsTopPage{ width: 90%; margin: auto; margin-top: 30px; margin-bottom: 30px; }
    .NewsTopPageLeft{ float: none; width: auto; }
    .NewsTopPageRight{ float: none; width: auto; margin: auto; margin-top: 50px; }

    /* LogoTail */
    .TailLogoandLinkBox{ width: 90%; margin: auto; text-align: center; padding: 20px 0px; }
    .LogoTail{ float: none; text-align: center; }
    .JNTOWebsite{ margin-left: 20px; }

    /* CookiePopup */
    .PopupCondition{ width: 90%; padding: 40px; }
    .PopupCondition h3{ font-size: 33px; }

    .Copyright{ padding-bottom: 0px; margin-bottom: 0px; }
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:768px)
{
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 350px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 70px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-list{ padding: 0px!important; }
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:767px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: 85%; margin: auto; font-size: 17px; }
    .HeaderLogo img{ margin-right: 10px; }

    /* Header */
    .HeaderBoxLeft{ width: auto; }

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ font-size: 30px; }

    /* ContentBoxLeft */
    .ContentBoxLeft .SupportMenuList .DownloadPDF{ line-height: 18px; }
    .ContentBoxLeft .SupportMenuList .DownloadPDF span{ padding: 8px 10px 8px 37px; margin-bottom: 5px; }
    .ContentBoxLeft .SupportMenuList .DownloadPDF br{display: block;}
    .ContentBoxLeft .CompanyProfileList .DownloadPDF{ line-height: 18px; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF span{ padding: 4px 10px 4px 30px; margin-bottom: 5px; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF br{ display: block; }
    .ContentBoxLeft .CompanyProfileList .DownloadPDF span:before{ left: 8px; top: 8px; }
    .ContentBoxLeft .YoutubeResponsive { padding-bottom:40%; height: 400px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 17px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 17px; }
    .NewsBox .RelatedNewsJNTO{ font-size: 25px; }
    .NewsTitle{ font-size: 25px; line-height: 34px; }

    /* PhotoSlide */
    .SellerInfoPage .SlidePhotoLarge{ height: 300px; }
    .SellerInfoPage .SlidePhotoLarge div{ height: 300px; }
    .SellerInfoPage .SlidePhotoThumb{ height: 80px; }
    .SellerInfoPage .SlidePhotoThumb div{ height: 80px; margin-right: 5px; margin-left: 5px; }
    /*div.slick-list.draggable{ padding: 0px!important; }*/

    /* Footer */
    .FooterBoxLeft{ width: auto; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo{ padding-left: 10px; padding-right: 10px; }

    /* CompanyList */
    .CompanyList ul li{ width: 48%; min-height: 360px; margin: 0; }
    .CompanyList ul li:nth-child(3n-7){ margin: 0; }
    .CompanyList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }

    /* SearchForm */
    .SearchFormBox{ margin-top:10px; padding-top: 0px; }
    .SearchFormBox h2{ font-size: 30px; }
    .SearchFormBox .Caption{ font-size: 18px; }

    /* NewsBox */
    .NewsBoxBGBlur ul{ width: 98%; }
    .NewsBoxBGBlur ul li{ width: 49%; height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li:first-child{ margin-right: 2%; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-size: cover; }
    .NewsBoxBGBlur ul li a{ font-size: 13px; padding: 9px 10px 4px 10px; }
    .NewsBoxBGBlur ul li a span{ font-size: 12px; }
    .NewsBox ul li{ font-size: 15px; }

    /* SeminarPage */
    .SeminarPageBox{ height: auto; margin-top: 10px; }
    .SeminarPage{ padding-top: 10px; }
    .SeminarPage h2{ font-size: 25px; margin-bottom: 0px; }
    .SeminarPageBoxLeft{ float: none; width: auto; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 300px; }
    .SeminarPageBoxRight{ float: none; width: auto;  }
    .SeminarPageBoxRight .DisplayTime{ margin-top: 10px; position: relative; bottom: 0px; }
    /* SeminarPageList */
    .SeminarPageList{ padding: 30px 0px; }
    .SeminarPageList ul li{ width: 48%; min-height: 400px; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 4%; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 15px; line-height: 21px; min-height: 65px; }
    .SeminarPageList ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList .ComingSoon{ min-height: 468px; }

    /* FeatureToppage */
    .FeatureToppage{ min-height: 300px; }
    .FeatureToppageLeft{ width: auto; height: 300px; float: none; }
    .FeatureToppageRight{ width: auto; float: none; }
    .FeatureToppageRightBox{ margin-top: 30px; padding-top: 0px; margin-left: 0px; padding: 0px 30px; background-size: contain; }
    .FeatureToppageRightBox h1{ font-size: 23px; }
    .FeatureToppageRightBox h1 span{ display: inline; }

    /* AnchorToppage */
    .AnchorToppage{ max-width: auto; margin-left: 10px; margin-right: 10px; }
    .AnchorToppage ul { overflow: auto; float: none; text-align: center; }
    .AnchorToppage ul li{ font-size: 15px; width: 22%; margin: 0% 1%; background-color: #ccc; }
    .AnchorToppage ul li:first-child(){ margin-left: 0; padding-left: 0; }
    .AnchorToppage ul li:last-child(){ margin-right: 0; padding-right: 0; }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: auto; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 10px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 10px; }

    /* ToppageCompanyInfoBox */
    .ToppageCompanyInfoBox{ width: auto; margin: auto; padding: 0px 0px; }
    .ToppageCompanyInfoBox h2{  font-size: 28px;}

    /* TopPageLink */
    .TopPageLink .CategoryBoxTP ul li{ min-height: auto; width: 49%; font-size: 16px; line-height: 21px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 100px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(1){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(2){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:0; margin-left: 2%; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ clear: both; margin-left:0px; margin-right: 2%; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right:0px; margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(8){ margin-right:0px; }

    /* NewsTopPage */
    .NewsTopPage{ max-width: auto; margin-top: 30px; margin-bottom: 50px; }
    .NewsTopPageLeft .NewsTopPageLeftHead{ height: 60px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li{ width: 49%; height: 60px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:first-child{ margin-left: 0px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:last-child{ background-image: none; background-color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,0.3);  }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li.Active a{ background-image: none; background-color: #ebe4e0; box-shadow: 0px 2px 5px rgba(0,0,0,0.3); }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ display: block; color: #bbbbbb; padding: 13px 10px; font-size: 13px; font-weight: 500;background-image: none; background-color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,0.3); }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a span{ font-size: 13px;}

    /*.ULTail .ULTail1{ width: 45%; float: left; margin-top: 10px; }
    .ULTail .ULTail2{ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }
    .ULTail .ULTail3{ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }*/

    .ULTail div.ULTailList{ width: 45%; float: left; margin-top: 10px; }
    .ULTail div.ULTailList:nth-child(2){}
    .ULTail div.ULTailList:nth-child(3){ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }
    .ULTail div.ULTailList:nth-child(4){ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }
    .ULTail div.ULTailList:nth-child(5){}
    .ULTail div.ULTailList:nth-child(6){ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }
    .ULTail div.ULTailList:nth-child(7){ width: 45%; float: left; margin-top: 10px; margin-left: 10%; }

    /* LogoTail */
    .TailLogoandLink{ font-size: 15px; }
    .LogoTail img{ width: 90px; }

    /* CookiePopup */
    .PopupCondition { padding: 30px;}
    .PopupCondition h3{ font-size: 25px; font-weight: 400; }
    .PopupCondition p{ font-size: 15px; font-weight: 200; }
    .PopupCondition .MobileScroll{ height: 400px; overflow: scroll;}

    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 300px; }
    
}

/* -------------------------------------  500px  ------------------------------------- */
@media(max-width:480px)
{
    /* HeaderLogo */
    .HeaderLogo{ width: auto; margin: auto; margin-left: 15px; font-size: 13px; }
    .HeaderLogo img{ height: 35px; margin-right: 5px; }
    .HeaderLogo span{ display: none; }

    /* Header */
    .HeaderBox h2{ font-size: 17px; margin-bottom: 0px; }
    .HeaderBox{ font-size: 16px; padding: 20px 0px 20px 0px; height: 610px; overflow: scroll; }
    .HeaderBoxRight .SeminarLinkTxtRight{ font-size: 14px; }
    .HeaderBoxRight .SeminarLinkTxtRight a{ margin-right: 8px; }

    /* Breadcrumbs */
    .Breadcrumbs{ display: none; }

    /* ContentBoxFull */
    .ContentBoxFull{ width:auto; margin: 0 auto; margin-top: 10px;}

    /* SellerInfoPage */
    .SellerInfoPage h2.CompanyName{ width: 90%; margin: auto; font-size: 20px; padding: 0px; }

    /* ContentBoxLeft */
    .ContentBoxLeft h1{ font-size:19px; line-height: 23px; padding-bottom: 5px; }
    .ContentBoxLeft .SupportMenuList{ padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .YoutubeResponsive { padding-bottom:20%; height: 250px; }
    .ContentBoxLeft .SellerInfoDetail{ font-size: 16px; padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .SupportMenuList ul li .Captions{ font-size: 15px; }
    .ContentBoxLeft .CompanyProfileList{ padding-bottom: 30px; margin-bottom: 30px; }
    .ContentBoxLeft .OthersLinkList ul li{ padding: 10px 30px 10px 50px; }
    .ContentBoxLeft .OthersLinkList ul li .Captions{ font-size: 15px; }
    .ContentBoxLeft .OthersLinkList ul li .LinkURL{ font-size: 16px; font-weight: 400; }
    .ContentBoxLeft .OthersLinkList ul li .LinkOut{ top: 20px; }

    /* NewsBoxDetailBox */
    .NewsBoxDetailBox{ font-size: 16px; padding-bottom: 10px; margin-bottom: 10px; }
    .NewsTitle{ width: 90%; margin: auto; font-size: 20px; line-height: 25px; padding: 10px 0px; }
    .NewsBox .RelatedNewsJNTO{ font-size: 22px; }
    .NewsBox .LinktoAll a{ font-size: 16px; }
    .NewsBox .LinktoAll a:before{ width: 32px; height: 32px; top: 0px; }

    /* ContentBoxRight */
    .ContentBoxRight .CompanyInfoList .SocialNetwork a{ margin: 0px 7px; }

    /* RelatedCompanyInfo */
    .RelatedCompanyInfo{ padding: 0px; }
    .RelatedCompanyInfo ul li{ margin-left: -20px; margin-right: 10px; padding-left: 0px; padding-right: 20px;}
    .RelatedCompanyInfo ul li .PictureDisplayRe{ height: 106px; /*height: 170px;*/ }
    .RelatedCompanyInfo ul li .PictureDisplayRe span{ padding: 3px 10px 3px 30px; }
    .RelatedCompanyInfo ul li .RightCaptions{ padding:10px 0px 10px 20px; }
    .RelatedCompanyInfo ul li .RightCaptions .Title{ font-size: 13px; line-height: 19px; }
    .RelatedCompanyInfo ul li .RightCaptions .CompanyName{ font-size: 18px; }
    .RelatedCompanyInfo ul li .RightCaptions .ProvinceDisplay{ font-size: 14px; }
    .RelatedCompanyInfo ul li .RightCaptions .ProvinceDisplay:before{ top: 0px; }

    /* PhotoSlide */
    .SellerInfoPage .SlidePhotoLarge{ height: 200px; margin-top: 10px; }
    .SellerInfoPage .SlidePhotoLarge div{ height: 200px; }
    .SellerInfoPage .SlidePhotoThumb{ height: 50px; margin-top: 10px; }
    .SellerInfoPage .SlidePhotoThumb div{ height: 50px; }
    /*div.slick-track{ margin: 0px!important; }*/

    /* Footer */
    .Footer{ padding-bottom: 30px; }
    .FooterBox h2{ font-size: 18px; margin-bottom: 10px; }
    .FooterBox{ font-size: 16px; }
    .FooterBoxRight .SeminarLinkTxtRight{ font-size: 14px; }
    .FooterBoxRight .SeminarLinkTxtRight a{ margin-right: 8px; }
    .BackToTop { width: 50px; height: 50px; line-height: 50px; top: -30px; }
    .FooterLogoTail{ width: 150px; height: auto; }

    /* CompanyList */
    .CompanyList ul li{ width: auto; height: auto; min-height: auto; margin: 0 0 40px 0; float: none; clear: both; /*overflow: auto;*/ }
    .CompanyList ul li:nth-child(3n-7){  margin: 0 0 40px 0; }
    .CompanyList ul li:nth-child(odd){  margin: 0 0 40px 0; }
    .CompanyList ul li .PictureDisplay{ height: 106px; box-shadow: 1px 0px 5px rgba(0,0,0,0.2); /*height: 190px;*/ }
    .CompanyList ul li .RightCaptions .CompanyName{ font-size: 20px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay{ font-size: 16px; }
    .CompanyList ul li .RightCaptions .SupportMenuDisplay:before{ top: 5px; }

    /* SearchForm */
    .SearchFormBox{ margin-top: 0px; padding-top: 30px; }
    .FormBox{ padding: 15px 15px 60px 15px; margin-top: 10px; }
    .SearchFormBox h2{ font-size: 25px; }
    .SearchFormBox .Caption{ font-size: 18px; margin-top: -10px; }
    .FormBoxLeft .MapSearchTxt{ font-size: 14px; letter-spacing: -1px; top: 5px; left: 5px; padding-left: 20px; }
    .FormBoxLeft .MapSearchTxt:before{ width: 16px; height: 20px; top: 0px; }
    .FormBoxRight .BusinessTypeList .BType{ letter-spacing: -1px; }
    .FormBoxRight .BusinessTypeList ul li{ width: auto; float: none; margin: 0px;}
    .BTNSearchPage{ margin-top: -40px; }
    .BTNSearchPage button{ max-width: 250px; }
    .BTNSearchPage span{ display: block; padding: 5px 10px; }
    .BacktoRegion{ right: 5px; top: 5px; }
    .BacktoRegion a{ padding: 3px 10px; font-weight: 500; font-size: 11px; }
    .PaddingMap{ padding: 5px; }

    /* NewsBox */
    .NewsBoxBGBlur ul{ width: 95%; margin-top: 20px; }
    .NewsBoxBGBlur ul li{ width: 36%; height: auto; background-image: none; box-shadow: 0px 2px 5px rgba(0,0,0,0.3); }
    .NewsBoxBGBlur ul li:first-child{ margin-right: 4%; }
    .NewsBoxBGBlur ul li:last-child{ width: 60%; }
    .NewsBoxBGBlur ul li.Active a{ height: auto; background-image: none; background-color: #ebe4e0; }
    .NewsBoxBGBlur ul li a{ font-size: 13px; padding: 10px 10px 10px 10px; }
    .NewsBoxBGBlur ul li a span{ font-size: 12px; }
    .NewsBox ul li{ font-size: 15px; padding-left: 0px; line-height: 18px; }
    .NewsBox ul li span{ display: block; top: 0; margin: 0px; width: auto; position: relative; font-weight: 200; margin-bottom: 5px; }
    .NewsBoxDetail .CompanyProfileList{ padding-top: 30px; margin-top: 30px; }

    /* SeminarPage */
    .SeminarPage{ background-size: 200% auto; }
    .SeminarPageBoxLeft{ float: none; width: auto; }
    .SeminarPageBoxLeft .YoutubeSeminar { height: 280px; }
    .SeminarPageBoxRight{ float: none; width: auto;  }
    .SeminarPageBoxRight .PaddingBox{ padding: 20px;}
    .SeminarPageBoxRight .PaddingBox h1{ font-size: 23px; line-height: 30px; font-weight: 400; }
    .SeminarPageBoxRight .DisplayDate{ font-size: 14px; }
    .SeminarPageBoxRight .DisplayTime{ font-size: 14px; }
    .SeminarPageBoxRight .DisplayDate{ padding: 1px 5px; }
    .SeminarPageBoxRight .DisplayTime:before{ width: 24px; height: 24px; }
    /* SeminarPageList */
    .SeminarPageList .TitleTail{ font-size: 25px; }
    .SeminarPageList .CaptionTail{ font-size: 16px; }
    .SeminarPageList .CaptionTail:before{ top: 6px; }
    .SeminarPageList .CaptionTail:after{ top: 10px; }
    .SeminarPageList ul li{ width: auto; min-height: auto; margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(3n-7){ margin: 0; margin-bottom: 30px; }
    .SeminarPageList ul li:nth-child(odd){ margin: 0; margin-right: 0%; margin-bottom: 30px; }
    .SeminarPageList ul li .RightCaptions .Title{ font-size: 16px; line-height: 21px; min-height: auto; }
    .SeminarPageList ul li .RightCaptions .TimeDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList ul li .RightCaptions .DocumentDisplay{ float: none; width: auto; text-align: left; font-size: 14px; }
    .SeminarPageList .TitleToppage{ padding: 30px 0px 10px 0px; background-size: cover; background-position: right center; font-size: 20px; }
    .SeminarPageList .TitleToppage span{ width: 90%; margin: auto; }
    .SeminarPageList .TitleToppage img{ width: 100px; margin-left: 15px; }
    .SeminarPageList .TitleToppageSeller{ padding: 30px 0px 10px 0px!important; background-size: cover!important; background-position: right center!important; font-size: 20px!important; }
    .SeminarPageList .ComingSoon{ width: 100%; min-height: 468px; }

    /* FeatureToppage */
    .FeatureToppage{ min-height: 200px; }
    .FeatureToppageLeft{ height: 200px; }
    .FeatureToppageRight{ width: auto; float: none; }
    .FeatureToppageRightBox{ margin-top: 20px; padding: 0px 30px; min-height: 130px; }
    .FeatureToppageRightBox h1{ font-size: 20px; }

    /* AnchorToppage */
    .AnchorToppage{ width: 90%; margin: auto; padding: 0px; }
    .AnchorToppage ul { overflow: auto; float: none; text-align: center; }
    .AnchorToppage ul li{ font-size: 18px; width: 45%; margin: 2% 2%; }
    .AnchorToppage ul li:first-child(){ margin-left: 0; padding-left: 0; }
    .AnchorToppage ul li:last-child(){ margin-right: 0; padding-right: 0; }
    .AnchorToppage ul li.AnchorPartnerTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorPartnerTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorPartnerTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorPartnerTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a{ width: auto; height: 150px; } 
    .AnchorToppage ul li.AnchorNewsUpdateTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorNewsUpdateTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorSeminarTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorSeminarTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorSeminarTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorSeminarTP a:after{ bottom: 15px; }
    .AnchorToppage ul li.AnchorUseFullTP a{ width: auto; height: 150px; }
    .AnchorToppage ul li.AnchorUseFullTP a p{ padding: 15px 5px 10px 5px; line-height: 21px; }
    .AnchorToppage ul li.AnchorUseFullTP a img{ max-height: 40px; }
    .AnchorToppage ul li.AnchorUseFullTP a:after{ bottom: 15px; }

    /* ToppageCompanyInfoBox */
    .ToppageCompanyInfoBox{ width: 90%; }
    .ToppageCompanyInfoBox h2{ padding: 0px; font-size: 25px;}
    .ToppageCompanyInfoBox ul{ margin-top:10px; }

    /* TopPageLink */
    .TopPageLink .TitleLink h2{ font-size:23px; }
    .TopPageLink .TitleLink span{ font-size: 23px;}
    .TopPageLink .CategoryBoxTP h3{ font-size:20px; margin-bottom: 10px; }
    .TopPageLink .CategoryBoxTP ul li{ width: 100%; font-size: 16px; margin: 0px; margin-bottom: 20px; line-height: 23px; }
    .TopPageLink .CategoryBoxTP ul li p{ min-height: 80px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(1){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(2){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(3){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(4){ margin-right:0; margin-left: 0; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(5){ clear: both; margin-left:0px; margin-right: 0; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(6){ margin-right:0px; margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(7){ margin-left:0px; }
    .TopPageLink .CategoryBoxTP ul li:nth-child(8){ margin-right:0px; }
    .TopPageLink .CategoryBoxTP ul li .ThreeLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .FiveLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .SixLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .SevenLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .NineLeft{ padding-top: 35px; }
    .TopPageLink .CategoryBoxTP ul li .TenLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .TwelLeft{ padding-top: 30px; }
    .TopPageLink .CategoryBoxTP ul li .Thirty{ padding-top: 30px; }

    /* NewsTopPage */
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:first-child{ width: 36%; margin-right: 4%; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li:last-child{ width: 60%; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a{ font-size: 12px; padding: 13px 10px; }
    .NewsTopPageLeft .NewsTopPageLeftHead ul li a span{ font-size: 12px;}
    .NewsTopPageLeft .NewsTopPageLeftBody ul li{ padding-left: 0px; }
    .NewsTopPageLeft .NewsTopPageLeftBody ul li span{ display: block; top: 0; margin: 0px; width: auto; position: relative; font-weight: 200; margin-bottom: 5px; }

    /*.ULTail .ULTail1{ width: auto; float: left; margin-top: 20px; }
    .ULTail .ULTail2{ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail .ULTail3{ width: auto; float: left; margin-top: 20px; margin-left: 0%; }*/
    .ULTail div.ULTailList{ width: auto; float: left; margin-top: 20px; }
    .ULTail div.ULTailList:nth-child(2){}
    .ULTail div.ULTailList:nth-child(3){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(4){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(5){}
    .ULTail div.ULTailList:nth-child(6){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }
    .ULTail div.ULTailList:nth-child(7){ width: auto; float: left; margin-top: 20px; margin-left: 0%; }

    /* LogoTail */
    .TailLogoandLink{ font-size: 15px; line-height: 40px; }
    .LogoTail span{ /*display: block;*/ margin-top: 0px; font-size: 13px; }
    .LogoTail img{ width: 50px; height: auto; margin-right: 10px; }

    /* CookiePopup */
    .PopupCondition { padding: 15px; border-radius: 20px;}
    .PopupCondition h3{ font-size: 23px; }
    .PopupCondition p{ font-size: 15px; margin: 30px 0px; }
    .PopupCondition .MobileScroll{ height: 400px; overflow: scroll;}
    .PopupCondition .BTNAccept a{ padding:5px 40px 5px 40px;}
    .PopupCondition p.BTNAccept{ margin: 0px; padding:0px; margin-top: 20px; }
    .PopupCondition .LineOne{ padding-left: 40px; }
    .PopupCondition .LineOne:before{ font-size: 30px; top: 50px; }
    .PopupCondition .LineOne:after{ left: 25px; top: 0; }
    .PopupCondition .LineTwo{ padding-left: 40px; }
    .PopupCondition .LineTwo:before{ font-size: 30px; top: 120px; }
    .PopupCondition .LineTwo:after{ left: 25px; top: 0; }
    .PopupCondition .LineThree{ padding-left: 40px; }
    .PopupCondition .LineThree:before{ font-size: 30px; top: 20px; }
    .PopupCondition .LineThree:after{ left: 25px; top: 0; }

    .JNTOEmail{ margin-right: 0px; font-size: 16px; }
    .JNTOEmail:before{ top: 12px; }

    #gal-results.containerPhotoSlide { margin-top: 10px; }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide { margin-bottom: 10px; }
    #gal-results.containerPhotoSlide #gallery-view #gal-slide .gal-slide-img{ height: 200px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb { height: 50px; margin: 0 4px; }
    #gal-results.containerPhotoSlide #gallery-thumbs #gal-thumb .slick-track { transform: translate3d(0px, 0px, 0px)!important; }
}