/* The Modal (background) */
.ModelContactUs { display: none; position: fixed; z-index: 9999999; padding-top: 30px; left: 0; top: 0; width: 100%; height: 100%; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.ModelContactUsBox { background-color: #ac826d; margin: auto; width: 100%; max-width: 700px; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); border-radius: 15px; overflow: auto; position: relative; z-index:9999999; }
.ModelContactUsBoxInner{ background-color: #fff; margin: 15px 0px; overflow: auto; }
.close { position: fixed; z-index: 9999999999; margin-top: -20px; margin-left: 680px; width: 40px; height: 40px; background-color: #fff; text-align: center; padding:0px; line-height: 38px; border-radius: 100px; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
.close img{width: 14px;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer; }
.closeBranch { position: fixed; z-index: 9999999999; margin-top: -20px; margin-left: 680px; width: 40px; height: 40px; background-color: #fff; text-align: center; padding:0px; line-height: 38px; border-radius: 100px; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
.closeBranch img{width: 14px;}
.closeBranch:hover,.closeBranch:focus { color: #000; text-decoration: none; cursor: pointer; }
.FormPopup{ padding:20px 40px; font-weight: 300; }
.FormPopup p{ margin: 0px; padding: 0px; }
.FormPopup .Title{ font-size: 25px; font-weight: 500; }
.FormPopup ul{ margin-top: 20px; }
.FormPopup ul li{ margin: 10px 0px; }
.FormPopup ul li input[type=text]{ display: block; outline:none; margin-top: 5px; width: 100%; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.FormPopup ul li textarea{ display: block; outline:none; width: 100%; min-height: 100px; padding: 10px 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 5px; border:1px solid #ccc; }
.FormPopup ul li button{ display: inline-block; max-width: 150px; position: relative; outline:none; cursor: pointer; background-color: #203154; border:1px solid #203154; color: #fff; padding: 7px 30px 7px 30px; margin-top: 10px; border-radius: 100px; font-size: 14px; font-weight: 500; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: all .3s; }
.FormPopup ul li button img{ width: 16px; margin-left: 5px; }
.THanksClass{ text-align: center; display: none; }
.THanksClass img{ width: auto; max-width: 135px; }
.THanksClassBranch{ text-align: center; display: none; }
.THanksClassBranch img{ width: auto; max-width: 135px; }

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1200px)
{
  .ModelContactUs { padding-top: 30px; }
}

/* -------------------------------------  1280px  ------------------------------------- */
@media(max-width:1024px)
{
  .ModelContactUsBox { max-width: 650px; }
  .close { width: 32px; height: 32px; line-height: 30px; margin-left: 635px; margin-top: -15px; }
  .close img{width: 12px;}
  .closeBranch { width: 32px; height: 32px; line-height: 30px; margin-left: 635px; margin-top: -15px; }
  .closeBranch img{width: 12px;}
  .ModelContactUs { padding-top: 20px; }
  .FormPopup{ padding: 15px 30px 20px 30px; font-size: 14px; }
  .FormPopup .Title{ font-size: 22px; }
  .FormPopup ul{ margin-top: 10px; }
}

/* -------------------------------------  768px  ------------------------------------- */
@media(max-width:767px)
{
  .ModelContactUsBox { max-width: 320px; max-height: 600px; }
  .close { width: 32px; height: 32px; line-height: 29px; margin-left: 310px; margin-top: -15px; }
  .closeBranch { width: 32px; height: 32px; line-height: 29px; margin-left: 310px; margin-top: -15px; }
  .FormPopup{ padding: 10px 20px 10px 20px; font-size: 13px; max-height: 560px; overflow: scroll; }
  .FormPopup ul li input[type=text]{ margin-top: 2px; padding: 10px 10px; }
  .FormPopup ul li button{ margin-top: 10px; }
}