@charset "UTF-8";
@import 'sanitize.css';

#gal-results.container {
  width: 970px;
  margin-top: 15px;
}
#gal-results.container #gallery-view #gal-slide {
  margin-bottom: 15px;
}
#gal-results.container #gallery-view #gal-slide .gal-slide-img img {
  margin: 0 auto;
}
#gal-results.container #gallery-view #gal-slide .slick-prev,
#gal-results.container #gallery-view #gal-slide .slick-next {
  background: #ccc;
  color: #fff;
  border: none;
  line-height: 1em;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 999;
  border-radius: 50%;
}
#gal-results.container #gallery-view #gal-slide .slick-next {
  right: 0;
}
#gal-results.container #gallery-thumbs #gal-thumb .slick-track .gal-slide-thumb {
  margin: 0 5px;  background-color: #ccc;
}